In [2]:
import pandas as pd
import time
import datetime
from datetime import timedelta
from pymongo import MongoClient
from textblob import TextBlob

In [3]:
client = MongoClient('localhost', 27017)

In [4]:
def get_dataframe(tab):

    dataSet = pd.DataFrame()    
    dataSet["id"] = [tweet['id'] for tweet in tab.find()]
    dataSet["text"] = [tweet['text'] for tweet in tab.find()]
    dataSet["created_at"] = [tweet['created_at'] for tweet in tab.find()]
    dataSet["favorite_count"] = [tweet['favorite_count'] for tweet in tab.find()]
    dataSet["source"] = [tweet['source'] for tweet in tab.find()]
    dataSet["user_id"] = [tweet['user']['id'] for tweet in tab.find()]
    dataSet["user_screen_name"] = [tweet['user']['screen_name'] for tweet in tab.find()]
    dataSet["user_name"] = [tweet['user']['name'] for tweet in tab.find()]
    dataSet["user_created_at"] = [tweet['user']['created_at'] for tweet in tab.find()]
    dataSet["user_description"] = [tweet['user']['description'] for tweet in tab.find()]
    dataSet["user_followers_count"] = [tweet['user']['followers_count'] for tweet in tab.find()]
    dataSet["user_friends_count"] = [tweet['user']['friends_count'] for tweet in tab.find()]
    dataSet["user_location"] = [tweet['user']['location'] for tweet in tab.find()]
    dataSet["user_time_zone"] = [tweet['user']['time_zone'] for tweet in tab.find()]

    return dataSet.drop_duplicates()

In [5]:
def get_dataframe2(tab1, tab2):
    df1 = get_dataframe(tab1)
    df2 = get_dataframe(tab2)
    df = pd.concat([df1, df2])
    return df.drop_duplicates()

In [6]:
def get_category_sent(score):
    if score > 0 :
        return "Pos"
    elif score < 0:
        return "Neg"
    else:
        return "Neu"

In [7]:
def find_week(date_time):
    
    day7 = timedelta(days=7)
    date_slected = datetime.date(2016,1,9)
    all_date =[date_slected]
    for i in range(51):
        date_slected = date_slected + day7
        all_date.append(date_slected)

    week_firstDate = pd.DataFrame()
    week_firstDate['firstData'] = all_date
    week_firstDate['week'] = range(1,53)
    
    for i in range(52):
        if date_time.date() <= week_firstDate['firstData'][i]:
            return week_firstDate['week'][i]

In [8]:
def info_twitter_song(tab):

    df= get_dataframe(tab)
    df['sent_score'] = df['text'].map(lambda x : TextBlob(x).sentiment.polarity)
    df['sent_category'] = df['sent_score'].map(get_category_sent)
    df['pos'] = df['sent_category'].map(lambda x: 1 if x == 'Pos' else 0)
    df['neg'] = df['sent_category'].map(lambda x: 1 if x == 'Neg' else 0)
    df['neu'] = df['sent_category'].map(lambda x: 1 if x == 'Neu' else 0)
    df['created_at_time'] = df['created_at'].map(lambda x : datetime.datetime.strptime(x, "%a %b %d %H:%M:%S +0000 %Y"))
    df['created_at_time_min'] = df['created_at_time']
    df['created_at_time_max'] = df['created_at_time']
    df['created_at_time_date'] = df['created_at_time'].map(lambda x : x.date())
    df['week_from_one'] = df['created_at_time'].map(find_week)
    df['count'] = 1

    col_list = ['week_from_one']
    agg_dic = {'favorite_count':sum, 'count':sum, 'pos':sum, 'neg':sum, 'neu':sum,'created_at_time_min': min,\
               'created_at_time_max': max}
    grouped = df.groupby(col_list).agg(agg_dic)
    grouped = grouped.reset_index()

    grouped['neg_rate']=1.0*grouped['neg']/grouped['count']
    grouped['pos_rate']=1.0*grouped['pos']/grouped['count']
    grouped['neu_rate']=1.0*grouped['neu']/grouped['count']
    grouped['ratio_pos_neg']=1.0*(grouped['pos']+1)/(grouped['neg'] +1)
    grouped['favorite_rate']=1.0*grouped['favorite_count']/grouped['count']

    #selected_col = ['week_from_one','count','pos_rate','neg_rate', 'neu_rate','ratio_pos_neg','favorite_rate']
    #slected = grouped[selected_col]
    slected = grouped
    return slected

In [9]:
def info_twitter_song2(tab1, tab2):

    df= get_dataframe2(tab1, tab2)
    df['sent_score'] = df['text'].map(lambda x : TextBlob(x).sentiment.polarity)
    df['sent_category'] = df['sent_score'].map(get_category_sent)
    df['pos'] = df['sent_category'].map(lambda x: 1 if x == 'Pos' else 0)
    df['neg'] = df['sent_category'].map(lambda x: 1 if x == 'Neg' else 0)
    df['neu'] = df['sent_category'].map(lambda x: 1 if x == 'Neu' else 0)
    df['created_at_time'] = df['created_at'].map(lambda x : datetime.datetime.strptime(x, "%a %b %d %H:%M:%S +0000 %Y"))
    df['created_at_time_min'] = df['created_at_time']
    df['created_at_time_max'] = df['created_at_time']
    df['created_at_time_date'] = df['created_at_time'].map(lambda x : x.date())
    df['week_from_one'] = df['created_at_time'].map(find_week)
    df['count'] = 1

    col_list = ['week_from_one']
    agg_dic = {'favorite_count':sum, 'count':sum, 'pos':sum, 'neg':sum, 'neu':sum,'created_at_time_min': min,\
               'created_at_time_max': max}
    grouped = df.groupby(col_list).agg(agg_dic)
    grouped = grouped.reset_index()

    grouped['neg_rate']=1.0*grouped['neg']/grouped['count']
    grouped['pos_rate']=1.0*grouped['pos']/grouped['count']
    grouped['neu_rate']=1.0*grouped['neu']/grouped['count']
    grouped['ratio_pos_neg']=1.0*(grouped['pos']+1)/(grouped['neg'] +1)
    grouped['favorite_rate']=1.0*grouped['favorite_count']/grouped['count']

    #selected_col = ['week_from_one','count','pos_rate','neg_rate', 'neu_rate','ratio_pos_neg','favorite_rate']
    #slected = grouped[selected_col]
    slected = grouped
    return slected

In [10]:
def info_raw_twitter_song2(song_id,tab1, tab2):

    df= get_dataframe2(tab1, tab2)
    df['sent_score'] = df['text'].map(lambda x : TextBlob(x).sentiment.polarity)
    df['sent_category'] = df['sent_score'].map(get_category_sent)
    df['pos'] = df['sent_category'].map(lambda x: 1 if x == 'Pos' else 0)
    df['neg'] = df['sent_category'].map(lambda x: 1 if x == 'Neg' else 0)
    df['neu'] = df['sent_category'].map(lambda x: 1 if x == 'Neu' else 0)
    df['created_at_time'] = df['created_at'].map(lambda x : datetime.datetime.strptime(x, "%a %b %d %H:%M:%S +0000 %Y"))
    df['created_at_time_date'] = df['created_at_time'].map(lambda x : x.date())
    df['week_from_one'] = df['created_at_time'].map(find_week)
    df['song_id'] = song_id

    selected_col = ["song_id", "created_at_time","created_at_time_date","week_from_one", "favorite_count",\
                    "sent_score","sent_category", "pos","neg", "neu"]
    
    return df[selected_col]

In [53]:
def get_billboard(billboard_filename_path):

    df2 = pd.read_csv(billboard_filename_path, names=['long_artist', 'last_date','rank','song'])
    df2['last_date_time'] = df2['last_date'].map(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
    df2['week_from_one'] = df2['last_date_time'].map(find_week)
    df2["artist"] = df2["long_artist"].map(lambda x : x.split('featuring')[0])
    df2["ID"] = df2["song"] + "%" +  df2["artist"]
    
    df= df2.pivot('ID', 'week_from_one', 'rank')
    df["ID"] = df.index
    df["song"] = df["ID"].map(lambda x : x.split('%')[0])
    df["artist"] = df["ID"].map(lambda x : x.split('%')[1])
    df.fillna(101,inplace=True)
    df.index = range(1,len(df)+1)
    df["IDN"] = df.index
    
    return df

In [46]:
df2 = pd.read_csv("../data/billboard_result_20150103_20160430.csv", names=['long_artist', 'last_date','rank','song'])

In [67]:
df2['last_date']

KeyError: 'last_data'

In [47]:
df2.tail()

                      long_artist   last_date rank               song
95            PANIC! AT THE DISCO  2016-04-30  96          Victorious
96  PARTYNEXTDOOR featuring DRAKE  2016-04-30  97     Come And See Me
97            FLUME featuring KAI  2016-04-30  98   Never Be Like You
98                     KANYE WEST  2016-04-30  99            Feedback
99                    ERIC CHURCH  2016-04-30  100        Record Year

In [54]:
current_billboard = get_billboard("../data/billboard_result_20150103_20160430.csv")

ValueError: time data 'date' does not match format '%Y-%m-%d'

In [12]:
def find_date(week_from_one):
    
    day7 = timedelta(days=7)
    day6 = timedelta(days=6)
    date_slected = datetime.date(2016,1,3)
    all_date =[date_slected]
    all_date_last = [date_slected + day6]
    for i in range(51):
        date_slected = date_slected + day7
        all_date.append(date_slected)
        all_date_last.append(date_slected +day6)
        
        

    week_Date = pd.DataFrame()
    week_Date['firstData'] = all_date
    week_Date['lastData'] = all_date_last
    week_Date['week'] = range(1,53)
    index_date = week_from_one - 1
    
    return str(all_date[index_date]) + ' ~ ' + str(all_date_last[index_date])

In [13]:
def list_no_twitter(list_id, db):
    list_count = []
    for song_id in list_id:
        table_name = "test_01_" + str(song_id)
        tab = db[table_name]
        list_count.append(tab.find().count())
    
    return list(np.array(list_id)[np.array(list_count) == 0])

db = client['song3_database']
list_input = get_billboard("../data/billboard.csv")
list_id = range(len(list_input))    
len(list_no_twitter(list_id, db))

40

In [14]:
def list_no_twitter2(list_id, db1, db2):
    list1 = list_no_twitter(list_id, db1)
    list2 = list_no_twitter(list_id, db2)
    return list(set(list1).intersection(set(list2)))

db1 = client['song3_database']
db2 = client['song4_database']
list_input = get_billboard("../data/billboard.csv")
list_id = range(len(list_input))   
len(list_no_twitter2(list_id, db1,db2))

37

In [15]:
def twitter_info_table(song_id, db, list_input, current_billboard, week_all):

    table_name = "test_01_" + str(song_id)
    tab = db[table_name]
    
    Input = [ ["#"+str(id.split('%')[0]), str(id.split('%')[1])]  for id in list_input["ID"]]
    max_week = max([x for x in list(current_billboard.columns) if isinstance(x, int)])
    current_billboard[max_week+1] = 0
    Song_history = current_billboard[current_billboard['ID']==list_input['ID'].values[song_id]]

    twit = info_twitter_song(tab)
    twit['diff_time'] = twit['created_at_time_max'] - twit['created_at_time_min']
    twit['diff_hour'] = twit['diff_time'].astype(pd.Timedelta).map(lambda x : float(x.seconds)/3600)
    twit['diff_hour_adj'] = twit['diff_hour'].map(lambda x: 24*7 if x == 0 else x )
    twit['twitter_per_hour'] = 1.0*twit['count']/twit['diff_hour_adj']
    
    
    col = ['week_from_one', 'twitter_per_hour','pos_rate', 'neg_rate','ratio_pos_neg' ,'favorite_rate']
    twitter_table = twit[col]
    
    diff = set(week_all) - set(list(twitter_table['week_from_one'].values))
    
    if len(diff) > 0:
        for i in diff:
            add_one = twitter_table.copy().iloc[0:1,]
            add_one['week_from_one'] = i
            add_one['twitter_per_hour'] = 1.0/(24*7)
            add_one['pos_rate'] = 0
            add_one['neg_rate'] = 0
            add_one['ratio_pos_neg'] = 1
            add_one['favorite_rate'] = 0
            twitter_table = pd.concat([add_one, twitter_table])
            
    twitter_table['Billboard_rank'] = [int(Song_history[week]) for week in twitter_table['week_from_one']]
    twitter_table['date_period'] = twitter_table['week_from_one'].map(find_date)
    #twitter_table['Billboard_rank_text'] = twitter_table['Billboard_rank'].map(lambda x : x if x <= 100 else "Not on Billboard")
    twitter_table['Song_ID'] = list_input["ID"].values[song_id]
    twitter_table['Song_IDN'] = song_id+1
    
    
    return Song_history, twitter_table

In [16]:
def twitter_info_table2(song_id, db1, db2, list_input, current_billboard, week_all):

    table_name = "test_01_" + str(song_id)
    tab1 = db1[table_name]
    tab2 = db2[table_name]
    
    Input = [ ["#"+str(id.split('%')[0]), str(id.split('%')[1])]  for id in list_input["ID"]]
    max_week = max([x for x in list(current_billboard.columns) if isinstance(x, int)])
    current_billboard[max_week+1] = 0
    Song_history = current_billboard[current_billboard['ID']==list_input['ID'].values[song_id]]

    twit = info_twitter_song2(tab1, tab2)
    twit['diff_time'] = twit['created_at_time_max'] - twit['created_at_time_min']
    twit['diff_hour'] = twit['diff_time'].astype(pd.Timedelta).map(lambda x : float(x.seconds)/3600)
    twit['diff_hour_adj'] = twit['diff_hour'].map(lambda x: 24*7 if x == 0 else x )
    twit['twitter_per_hour'] = 1.0*twit['count']/twit['diff_hour_adj']
    
    
    col = ['week_from_one', 'twitter_per_hour','pos_rate', 'neg_rate','ratio_pos_neg' ,'favorite_rate']
    twitter_table = twit[col]
    
    diff = set(week_all) - set(list(twitter_table['week_from_one'].values))
    
    if len(diff) > 0:
        for i in diff:
            add_one = twitter_table.copy().iloc[0:1,]
            add_one['week_from_one'] = i
            add_one['twitter_per_hour'] = 1.0/(24*7)
            add_one['pos_rate'] = 0
            add_one['neg_rate'] = 0
            add_one['ratio_pos_neg'] = 1
            add_one['favorite_rate'] = 0
            twitter_table = pd.concat([add_one, twitter_table])
            
    twitter_table['Billboard_rank'] = [int(Song_history[week]) for week in twitter_table['week_from_one']]
    twitter_table['date_period'] = twitter_table['week_from_one'].map(find_date)
    #twitter_table['Billboard_rank_text'] = twitter_table['Billboard_rank'].map(lambda x : x if x <= 100 else "Not on Billboard")
    twitter_table['Song_ID'] = list_input["ID"].values[song_id]
    twitter_table['Song_IDN'] = song_id+1
    
    
    return Song_history, twitter_table

In [17]:
def twitter_info_table_no_twitter(song_id, list_input, current_billboard, week_all):


    Input = [ ["#"+str(id.split('%')[0]), str(id.split('%')[1])]  for id in list_input["ID"]]
    max_week = max([x for x in list(current_billboard.columns) if isinstance(x, int)])
    current_billboard[max_week+1] = 0
    
    Song_history = current_billboard[current_billboard['ID']==list_input['ID'].values[song_id]]

    
    twitter_table = pd.DataFrame()
    twitter_table['week_from_one'] = week_all
    twitter_table['twitter_per_hour'] = 1.0/(24*7)
    twitter_table['pos_rate'] = 0
    twitter_table['neg_rate'] = 0
    twitter_table['ratio_pos_neg'] = 1
    twitter_table['favorite_rate'] = 0
            
    twitter_table['Billboard_rank'] = [int(Song_history[week]) for week in twitter_table['week_from_one']]
    twitter_table['date_period'] = twitter_table['week_from_one'].map(find_date)
    #twitter_table['Billboard_rank_text'] = twitter_table['Billboard_rank'].map(lambda x : x if x <= 100 else "Not on Billboard")
    twitter_table['Song_ID'] = list_input["ID"].values[song_id]
    twitter_table['Song_IDN'] = song_id+1
    
    return Song_history, twitter_table

In [18]:
def get_DataFrame_for_song(song_id, db, list_input, current_billboard, week_all):
    
    NoTwitter = list_no_twitter(range(len(list_input)), db)
    
    if song_id in NoTwitter:
        Song_history, twitter_table = twitter_info_table_no_twitter(song_id, db, list_input, current_billboard, week_all)
    else:
        Song_history, twitter_table = twitter_info_table(song_id, db, list_input, current_billboard, week_all)
    
    df_song = twitter_table
    df_song = df_song.rename(columns = {'week_from_one':'week'})
    df_song = df_song.rename(columns = {'Billboard_rank':'current_rank'})
    df_song['past_rank_1'] = df_song['week'].map(lambda x : int(Song_history[x-1]))
    df_song['past_rank_2'] = df_song['week'].map(lambda x : int(Song_history[x-2]))
    df_song['past_rank_3'] = df_song['week'].map(lambda x : int(Song_history[x-3]))
    df_song['past_rank_4'] = df_song['week'].map(lambda x : int(Song_history[x-4]))
    df_song['past_rank_5'] = df_song['week'].map(lambda x : int(Song_history[x-5]))
    df_song['past_rank_6'] = df_song['week'].map(lambda x : int(Song_history[x-6]))
    df_song['past_rank_7'] = df_song['week'].map(lambda x : int(Song_history[x-7]))
    df_song['past_rank_8'] = df_song['week'].map(lambda x : int(Song_history[x-8]))
    df_song['past_rank_9'] = df_song['week'].map(lambda x : int(Song_history[x-9]))
    df_song['next_rank'] = df_song['week'].map(lambda x : int(Song_history[x+1]))                                     
    
    
    col =['date_period','week','current_rank','count','twitter_per_hour','pos_rate',\
          'neg_rate','ratio_pos_neg','favorite_rate','Song_ID','Song_IDN',\
          'past_rank_1','past_rank_2','past_rank_3','past_rank_4','past_rank_5',\
          'past_rank_6','past_rank_7','past_rank_8','past_rank_9''next_rank']
    
    return df_song

In [41]:
def get_DataFrame_for_song2(song_id, db1, db2, list_input, current_billboard, week_all):
    
    NoTwitter = list_no_twitter2(range(len(list_input)), db1, db2)
    
    if song_id in NoTwitter:
        Song_history, twitter_table = twitter_info_table_no_twitter(song_id, list_input, current_billboard, week_all)
    else:
        Song_history, twitter_table = twitter_info_table2(song_id, db1, db2, list_input, current_billboard, week_all)
    
    df_song = twitter_table
    df_song = df_song.rename(columns = {'week_from_one':'week'})
    df_song = df_song.rename(columns = {'Billboard_rank':'current_rank'})
    df_song['past_rank_1'] = df_song['week'].map(lambda x : int(Song_history[x-1]))
    df_song['past_rank_2'] = df_song['week'].map(lambda x : int(Song_history[x-2]))
    df_song['past_rank_3'] = df_song['week'].map(lambda x : int(Song_history[x-3]))
    df_song['past_rank_4'] = df_song['week'].map(lambda x : int(Song_history[x-4]))
    df_song['past_rank_5'] = df_song['week'].map(lambda x : int(Song_history[x-5]))
    df_song['past_rank_6'] = df_song['week'].map(lambda x : int(Song_history[x-6]))
    df_song['past_rank_7'] = df_song['week'].map(lambda x : int(Song_history[x-7]))
    df_song['past_rank_8'] = df_song['week'].map(lambda x : int(Song_history[x-8]))
    df_song['past_rank_9'] = df_song['week'].map(lambda x : int(Song_history[x-9]))
    df_song['next_rank'] = df_song['week'].map(lambda x : int(Song_history[x+1]))                                     
    
    
    col =['date_period','week','current_rank','count','twitter_per_hour','pos_rate',\
          'neg_rate','ratio_pos_neg','favorite_rate','Song_ID','Song_IDN',\
          'past_rank_1','past_rank_2','past_rank_3','past_rank_4','past_rank_5',\
          'past_rank_6','past_rank_7','past_rank_8','past_rank_9''next_rank']
    
    return df_song[col]

In [20]:
def merge_dataframe(list_id, db, list_input, current_billboard, file_name, week_all=[]):
    
    print "We are getting data frame for id = {}".format(list_id[0])
    df = get_DataFrame_for_song(list_id[0], db, list_input, current_billboard, week_all)    
    print "The length of dataFrame is {}.".format(len(df))
    print " "
    
    if len(list_id) == 1:
        print "We're done"
        return df
    
    
    for i in range(1, len(list_id)):
        print "We completed {} of the total work and now are merging the data frame with id = {}".format\
        (1.0*i/len(list_id), list_id[i])
        
        add_df = get_DataFrame_for_song(list_id[i], db, list_input, current_billboard, week_all)
        df = pd.concat([df, add_df])
        print "The length of dataFrame is {}.".format(len(df))
        print " "
    
    df.to_csv(file_name, sep=',', encoding='utf-8')
    print "We're done"
    return df

In [21]:
def merge_dataframe2(list_id, db1, db2, list_input, current_billboard, file_name, week_all=[]):
    
    print "We are getting data frame for id = {}".format(list_id[0])
    df = get_DataFrame_for_song2(list_id[0], db1, db2, list_input, current_billboard, week_all)    
    print "The length of dataFrame is {}.".format(len(df))
    print " "
    
    if len(list_id) == 1:
        print "We're done"
        return df
    
    
    for i in range(1, len(list_id)):
        print "We completed {} of the total work and now are merging the data frame with id = {}".format\
        (1.0*i/len(list_id), list_id[i])
        
        add_df = get_DataFrame_for_song2(list_id[i], db1, db2, list_input, current_billboard, week_all)
        df = pd.concat([df, add_df])
        print "The length of dataFrame is {}.".format(len(df))
        print " "
    
    df.to_csv(file_name, sep=',', encoding='utf-8')
    print "We're done"
    return df

In [22]:
db1 = client['song3_database']
db2 = client['song4_database']
list_input = get_billboard("../data/billboard.csv")
current_billboard = get_billboard("../data/billboard3.csv")

In [29]:
current_billboard

week_from_one,9,10,11,12,13,14,15,16,17,ID,...,300,301,302,303,304,305,306,307,308,309
1,95,95,89,101,101,101,101,101,101,$ave Dat Money%LIL DICKY,...,0,0,0,0,0,0,0,0,0,0
2,40,29,25,21,18,18,18,17,18,2 Phones%KEVIN GATES,...,0,0,0,0,0,0,0,0,0,0
3,34,30,35,39,40,39,40,101,101,679%FETTY WAP,...,0,0,0,0,0,0,0,0,0,0
4,20,12,9,5,3,2,2,2,3,7 Years%LUKAS GRAHAM,...,0,0,0,0,0,0,0,0,0,0
5,82,76,75,77,76,73,70,77,72,Acquainted%THE WEEKND,...,0,0,0,0,0,0,0,0,0,0
6,28,33,41,53,65,76,101,101,101,Adventure Of A Lifetime%COLDPLAY,...,0,0,0,0,0,0,0,0,0,0
7,101,101,101,101,101,101,101,101,92,Ain't Your Mama%JENNIFER LOPEZ,...,0,0,0,0,0,0,0,0,0,0
8,77,101,101,101,101,101,101,101,101,All I Ask%ADELE,...,0,0,0,0,0,0,0,0,0,0
9,101,101,101,101,101,101,91,81,69,All The Way Up%FAT JOE & REMY MA,...,0,0,0,0,0,0,0,0,0,0
10,101,101,101,83,101,101,101,101,101,American Country Love Song%JAKE OWEN,...,0,0,0,0,0,0,0,0,0,0
11,36,40,47,101,101,101,101,101,101,Antidote%TRAVI$ SCOTT,...,0,0,0,0,0,0,0,0,0,0
12,50,36,20,25,29,30,37,44,37,Back To Sleep%CHRIS BROWN,...,0,0,0,0,0,0,0,0,0,0
13,57,60,71,65,89,94,101,101,101,Backroad Song%GRANGER SMITH,...,0,0,0,0,0,0,0,0,0,0
14,93,101,101,101,101,101,101,101,101,Bang My Head%DAVID GUETTA,...,0,0,0,0,0,0,0,0,0,0
15,101,101,101,101,101,43,101,101,101,Be Alright%ARIANA GRANDE,...,0,0,0,0,0,0,0,0,0,0
16,64,59,57,55,52,72,76,94,101,Beautiful Drug%ZAC BROWN BAND,...,0,0,0,0,0,0,0,0,0,0
17,51,48,51,56,57,65,66,76,101,Best Friend%YOUNG THUG,...,0,0,0,0,0,0,0,0,0,0
18,97,101,101,101,101,101,101,101,101,Bet You Can't Do It Like Me%DLOW,...,0,0,0,0,0,0,0,0,0,0
19,101,101,101,101,101,98,89,88,77,Body%DREEZY,...,0,0,0,0,0,0,0,0,0,0
20,66,54,65,81,99,101,101,101,101,Break On Me.%KEITH URBAN,...,0,0,0,0,0,0,0,0,0,0
21,47,101,101,101,101,101,101,101,101,Break Up In A Small Town%SAM HUNT,...,0,0,0,0,0,0,0,0,0,0
22,10,9,10,9,9,9,11,12,9,Cake By The Ocean%DNCE,...,0,0,0,0,0,0,0,0,0,0
23,101,101,101,54,42,61,48,40,48,Came Here To Forget%BLAKE SHELTON,...,0,0,0,0,0,0,0,0,0,0
24,32,38,39,45,50,101,101,101,101,Can't Feel My Face%THE WEEKND,...,0,0,0,0,0,0,0,0,0,0
25,81,97,91,92,87,71,39,55,47,Cheap Thrills%SIA,...,0,0,0,0,0,0,0,0,0,0
26,101,101,101,101,101,101,27,33,29,Close%NICK JONAS,...,0,0,0,0,0,0,0,0,0,0
27,101,101,101,101,101,101,101,97,98,Come And See Me%PARTYNEXTDOOR,...,0,0,0,0,0,0,0,0,0,0
28,101,101,101,89,77,66,57,57,53,Company%JUSTIN BIEBER,...,0,0,0,0,0,0,0,0,0,0
29,69,62,62,60,60,55,56,53,55,Confession%FLORIDA GEORGIA LINE,...,0,0,0,0,0,0,0,0,0,0
30,75,101,101,101,101,101,101,101,101,Confident%DEMI LOVATO,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,101,101,92,84,80,74,63,63,61,T-Shirt%THOMAS RHETT,...,0,0,0,0,0,0,0,0,0,0
141,101,101,101,101,101,42,71,65,59,Team%IGGY AZALEA,...,0,0,0,0,0,0,0,0,0,0
142,101,101,101,101,101,101,101,90,101,Tennessee Whiskey%CHRIS STAPLETON,...,0,0,0,0,0,0,0,0,0,0
143,98,92,88,93,92,90,64,69,64,That Don't Sound Like You%LEE BRICE,...,0,0,0,0,0,0,0,0,0,0
144,27,22,21,24,25,28,33,42,39,The Hills%THE WEEKND,...,0,0,0,0,0,0,0,0,0,0
145,101,88,81,76,73,69,51,49,42,The Sound Of Silence%DISTURBED,...,0,0,0,0,0,0,0,0,0,0
146,86,74,69,64,68,57,53,41,40,Think Of You%CHRIS YOUNG duet with CASSADEE POPE,...,0,0,0,0,0,0,0,0,0,0
147,101,101,95,101,101,101,101,101,101,Til It Happens To You%LADY GAGA,...,0,0,0,0,0,0,0,0,0,0
148,101,101,101,66,63,86,65,75,74,Try Everything%SHAKIRA,...,0,0,0,0,0,0,0,0,0,0
149,101,101,101,101,101,101,99,101,82,Uber Everywhere%MADEINTYO,...,0,0,0,0,0,0,0,0,0,0
150,101,101,101,101,101,101,101,67,90,Ultralight Beam%KANYE WEST,...,0,0,0,0,0,0,0,0,0,0
151,101,101,101,79,101,101,101,101,101,Untitled 02 I 06.23.2014.%KENDRICK LAMAR,...,0,0,0,0,0,0,0,0,0,0
152,101,101,101,90,101,101,101,101,101,Untitled 07 I 2014-2016%KENDRICK LAMAR,...,0,0,0,0,0,0,0,0,0,0
153,22,101,101,101,101,101,101,101,101,Uptown Funk!%MARK RONSON,...,0,0,0,0,0,0,0,0,0,0
154,101,101,101,101,101,101,94,96,96,Victorious%PANIC! AT THE DISCO,...,0,0,0,0,0,0,0,0,0,0
155,101,90,99,101,101,101,101,101,101,Walking On A Dream%EMPIRE OF THE SUN,...,0,0,0,0,0,0,0,0,0,0
156,101,101,101,101,101,101,101,74,101,Wasted Time%KEITH URBAN,...,0,0,0,0,0,0,0,0,0,0
157,91,89,98,91,101,101,101,101,101,Watch Out%2 CHAINZ,...,0,0,0,0,0,0,0,0,0,0
158,101,101,101,101,101,101,101,71,86,Waves%KANYE WEST,...,0,0,0,0,0,0,0,0,0,0
159,71,63,60,75,91,101,101,101,101,We Went%RANDY HOUSER,...,0,0,0,0,0,0,0,0,0,0
160,25,25,29,34,36,37,41,101,101,What Do You Mean?%JUSTIN BIEBER,...,0,0,0,0,0,0,0,0,0,0
161,14,18,23,28,34,50,58,70,101,When We Were Young%ADELE,...,0,0,0,0,0,0,0,0,0,0
162,39,42,44,46,49,45,49,101,101,White Iverson%POST MALONE,...,0,0,0,0,0,0,0,0,0,0
163,101,91,80,69,66,58,60,60,56,Wild Things%ALESSIA CARA,...,0,0,0,0,0,0,0,0,0,0
164,46,46,101,101,101,101,101,101,101,Wildest Dreams%TAYLOR SWIFT,...,0,0,0,0,0,0,0,0,0,0
165,101,101,101,101,101,101,87,101,101,With Them%YOUNG THUG,...,0,0,0,0,0,0,0,0,0,0
166,101,101,12,16,13,12,10,9,7,Work From Home%FIFTH HARMONY,...,0,0,0,0,0,0,0,0,0,0
167,1,1,1,1,1,1,1,1,1,Work%RIHANNA,...,0,0,0,0,0,0,0,0,0,0
168,55,50,43,38,32,32,31,35,38,You Should Be Here%COLE SWINDELL,...,0,0,0,0,0,0,0,0,0,0
169,80,67,58,58,23,36,34,46,43,Youth%TROYE SIVAN,...,0,0,0,0,0,0,0,0,0,0

In [26]:
list_id = range(len(list_input))
week_14_16 = [14,15,16]
file_name = '../data/result_song_3_4_9_01.csv' 
df_total = merge_dataframe2(list_id, db1, db2, list_input, current_billboard, file_name, week_all=week_14_16)

/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

We are getting data frame for id = 0
The length of dataFrame is 3.

We completed 0.00684931506849 of the total work and now are merging the data frame with id = 1
The length of dataFrame is 6.

We completed 0.013698630137 of the total work and now are merging the data frame with id = 2
The length of dataFrame is 9.

We completed 0.0205479452055 of the total work and now are merging the data frame with id = 3
The length of dataFrame is 12.

We completed 0.027397260274 of the total work and now are merging the data frame with id = 4
The length of dataFrame is 15.

We completed 0.0342465753425 of the total work and now are merging the data frame with id = 5
The length of dataFrame is 18.

We completed 0.041095890411 of the total work and now are merging the data frame with id = 6
The length of dataFrame is 21.

We completed 0.0479452054795 of the total work and now are merging the data frame with id = 7
The length of dataFrame is 24.

We completed 0.0547945205479 of the total work and now are merging the data frame with id = 8
The length of dataFrame is 27.

We completed 0.0616438356164 of the total work and now are merging the data frame with id = 9
The length of dataFrame is 30.

We completed 0.0684931506849 of the total work and now are merging the data frame with id = 10
The length of dataFrame is 33.

We completed 0.0753424657534 of the total work and now are merging the data frame with id = 11
The length of dataFrame is 36.

We completed 0.0821917808219 of the total work and now are merging the data frame with id = 12
The length of dataFrame is 39.

We completed 0.0890410958904 of the total work and now are merging the data frame with id = 13
The length of dataFrame is 42.

We completed 0.0958904109589 of the total work and now are merging the data frame with id = 14
The length of dataFrame is 45.

We completed 0.102739726027 of the total work and now are merging the data frame with id = 15
The length of dataFrame is 48.

We completed 0.109589041096 of the total work and now are merging the data frame with id = 16
The length of dataFrame is 51.

We completed 0.116438356164 of the total work and now are merging the data frame with id = 17
The length of dataFrame is 54.

We completed 0.123287671233 of the total work and now are merging the data frame with id = 18
The length of dataFrame is 57.

We completed 0.130136986301 of the total work and now are merging the data frame with id = 19
The length of dataFrame is 60.

We completed 0.13698630137 of the total work and now are merging the data frame with id = 20
The length of dataFrame is 63.

We completed 0.143835616438 of the total work and now are merging the data frame with id = 21
The length of dataFrame is 66.

We completed 0.150684931507 of the total work and now are merging the data frame with id = 22
The length of dataFrame is 69.

We completed 0.157534246575 of the total work and now are merging the data frame with id = 23
The length of dataFrame is 72.

We completed 0.164383561644 of the total work and now are merging the data frame with id = 24
The length of dataFrame is 75.

We completed 0.171232876712 of the total work and now are merging the data frame with id = 25
The length of dataFrame is 78.

We completed 0.178082191781 of the total work and now are merging the data frame with id = 26
The length of dataFrame is 81.

We completed 0.184931506849 of the total work and now are merging the data frame with id = 27
The length of dataFrame is 84.

We completed 0.191780821918 of the total work and now are merging the data frame with id = 28
The length of dataFrame is 87.

We completed 0.198630136986 of the total work and now are merging the data frame with id = 29
The length of dataFrame is 90.

We completed 0.205479452055 of the total work and now are merging the data frame with id = 30
The length of dataFrame is 93.

We completed 0.212328767123 of the total work and now are merging the data frame with id = 31
The length of dataFrame is 96.

We completed 0.219178082192 of the total work and now are merging the data frame with id = 32
The length of dataFrame is 99.

We completed 0.22602739726 of the total work and now are merging the data frame with id = 33
The length of dataFrame is 102.

We completed 0.232876712329 of the total work and now are merging the data frame with id = 34
The length of dataFrame is 105.

We completed 0.239726027397 of the total work and now are merging the data frame with id = 35
The length of dataFrame is 108.

We completed 0.246575342466 of the total work and now are merging the data frame with id = 36
The length of dataFrame is 111.

We completed 0.253424657534 of the total work and now are merging the data frame with id = 37
The length of dataFrame is 114.

We completed 0.260273972603 of the total work and now are merging the data frame with id = 38
The length of dataFrame is 117.

We completed 0.267123287671 of the total work and now are merging the data frame with id = 39
The length of dataFrame is 120.

We completed 0.27397260274 of the total work and now are merging the data frame with id = 40
The length of dataFrame is 123.

We completed 0.280821917808 of the total work and now are merging the data frame with id = 41
The length of dataFrame is 126.

We completed 0.287671232877 of the total work and now are merging the data frame with id = 42
The length of dataFrame is 129.

We completed 0.294520547945 of the total work and now are merging the data frame with id = 43
The length of dataFrame is 132.

We completed 0.301369863014 of the total work and now are merging the data frame with id = 44
The length of dataFrame is 135.

We completed 0.308219178082 of the total work and now are merging the data frame with id = 45
The length of dataFrame is 138.

We completed 0.315068493151 of the total work and now are merging the data frame with id = 46
The length of dataFrame is 141.

We completed 0.321917808219 of the total work and now are merging the data frame with id = 47
The length of dataFrame is 144.

We completed 0.328767123288 of the total work and now are merging the data frame with id = 48
The length of dataFrame is 147.

We completed 0.335616438356 of the total work and now are merging the data frame with id = 49
The length of dataFrame is 150.

We completed 0.342465753425 of the total work and now are merging the data frame with id = 50
The length of dataFrame is 153.

We completed 0.349315068493 of the total work and now are merging the data frame with id = 51
The length of dataFrame is 156.

We completed 0.356164383562 of the total work and now are merging the data frame with id = 52
The length of dataFrame is 159.

We completed 0.36301369863 of the total work and now are merging the data frame with id = 53
The length of dataFrame is 162.

We completed 0.369863013699 of the total work and now are merging the data frame with id = 54
The length of dataFrame is 165.

We completed 0.376712328767 of the total work and now are merging the data frame with id = 55
The length of dataFrame is 168.

We completed 0.383561643836 of the total work and now are merging the data frame with id = 56
The length of dataFrame is 171.

We completed 0.390410958904 of the total work and now are merging the data frame with id = 57
The length of dataFrame is 174.

We completed 0.397260273973 of the total work and now are merging the data frame with id = 58
The length of dataFrame is 177.

We completed 0.404109589041 of the total work and now are merging the data frame with id = 59
The length of dataFrame is 180.

We completed 0.41095890411 of the total work and now are merging the data frame with id = 60
The length of dataFrame is 183.

We completed 0.417808219178 of the total work and now are merging the data frame with id = 61
The length of dataFrame is 186.

We completed 0.424657534247 of the total work and now are merging the data frame with id = 62
The length of dataFrame is 189.

We completed 0.431506849315 of the total work and now are merging the data frame with id = 63
The length of dataFrame is 192.

We completed 0.438356164384 of the total work and now are merging the data frame with id = 64
The length of dataFrame is 195.

We completed 0.445205479452 of the total work and now are merging the data frame with id = 65
The length of dataFrame is 198.

We completed 0.452054794521 of the total work and now are merging the data frame with id = 66
The length of dataFrame is 201.

We completed 0.458904109589 of the total work and now are merging the data frame with id = 67
The length of dataFrame is 204.

We completed 0.465753424658 of the total work and now are merging the data frame with id = 68
The length of dataFrame is 207.

We completed 0.472602739726 of the total work and now are merging the data frame with id = 69
The length of dataFrame is 210.

We completed 0.479452054795 of the total work and now are merging the data frame with id = 70
The length of dataFrame is 213.

We completed 0.486301369863 of the total work and now are merging the data frame with id = 71
The length of dataFrame is 216.

We completed 0.493150684932 of the total work and now are merging the data frame with id = 72
The length of dataFrame is 219.

We completed 0.5 of the total work and now are merging the data frame with id = 73
The length of dataFrame is 222.

We completed 0.506849315068 of the total work and now are merging the data frame with id = 74
The length of dataFrame is 225.

We completed 0.513698630137 of the total work and now are merging the data frame with id = 75
The length of dataFrame is 228.

We completed 0.520547945205 of the total work and now are merging the data frame with id = 76
The length of dataFrame is 231.

We completed 0.527397260274 of the total work and now are merging the data frame with id = 77
The length of dataFrame is 234.

We completed 0.534246575342 of the total work and now are merging the data frame with id = 78
The length of dataFrame is 237.

We completed 0.541095890411 of the total work and now are merging the data frame with id = 79
The length of dataFrame is 240.

We completed 0.547945205479 of the total work and now are merging the data frame with id = 80
The length of dataFrame is 243.

We completed 0.554794520548 of the total work and now are merging the data frame with id = 81
The length of dataFrame is 246.

We completed 0.561643835616 of the total work and now are merging the data frame with id = 82
The length of dataFrame is 249.

We completed 0.568493150685 of the total work and now are merging the data frame with id = 83
The length of dataFrame is 252.

We completed 0.575342465753 of the total work and now are merging the data frame with id = 84
The length of dataFrame is 255.

We completed 0.582191780822 of the total work and now are merging the data frame with id = 85
The length of dataFrame is 258.

We completed 0.58904109589 of the total work and now are merging the data frame with id = 86
The length of dataFrame is 261.

We completed 0.595890410959 of the total work and now are merging the data frame with id = 87
The length of dataFrame is 264.

We completed 0.602739726027 of the total work and now are merging the data frame with id = 88
The length of dataFrame is 267.

We completed 0.609589041096 of the total work and now are merging the data frame with id = 89
The length of dataFrame is 270.

We completed 0.616438356164 of the total work and now are merging the data frame with id = 90
The length of dataFrame is 273.

We completed 0.623287671233 of the total work and now are merging the data frame with id = 91
The length of dataFrame is 276.

We completed 0.630136986301 of the total work and now are merging the data frame with id = 92
The length of dataFrame is 279.

We completed 0.63698630137 of the total work and now are merging the data frame with id = 93
The length of dataFrame is 282.

We completed 0.643835616438 of the total work and now are merging the data frame with id = 94
The length of dataFrame is 285.

We completed 0.650684931507 of the total work and now are merging the data frame with id = 95
The length of dataFrame is 288.

We completed 0.657534246575 of the total work and now are merging the data frame with id = 96
The length of dataFrame is 291.

We completed 0.664383561644 of the total work and now are merging the data frame with id = 97
The length of dataFrame is 294.

We completed 0.671232876712 of the total work and now are merging the data frame with id = 98
The length of dataFrame is 297.

We completed 0.678082191781 of the total work and now are merging the data frame with id = 99
The length of dataFrame is 300.

We completed 0.684931506849 of the total work and now are merging the data frame with id = 100
The length of dataFrame is 303.

We completed 0.691780821918 of the total work and now are merging the data frame with id = 101
The length of dataFrame is 306.

We completed 0.698630136986 of the total work and now are merging the data frame with id = 102
The length of dataFrame is 309.

We completed 0.705479452055 of the total work and now are merging the data frame with id = 103
The length of dataFrame is 312.

We completed 0.712328767123 of the total work and now are merging the data frame with id = 104
The length of dataFrame is 315.

We completed 0.719178082192 of the total work and now are merging the data frame with id = 105
The length of dataFrame is 318.

We completed 0.72602739726 of the total work and now are merging the data frame with id = 106
The length of dataFrame is 321.

We completed 0.732876712329 of the total work and now are merging the data frame with id = 107
The length of dataFrame is 324.

We completed 0.739726027397 of the total work and now are merging the data frame with id = 108
The length of dataFrame is 327.

We completed 0.746575342466 of the total work and now are merging the data frame with id = 109
The length of dataFrame is 330.

We completed 0.753424657534 of the total work and now are merging the data frame with id = 110
The length of dataFrame is 333.

We completed 0.760273972603 of the total work and now are merging the data frame with id = 111
The length of dataFrame is 336.

We completed 0.767123287671 of the total work and now are merging the data frame with id = 112
The length of dataFrame is 339.

We completed 0.77397260274 of the total work and now are merging the data frame with id = 113
The length of dataFrame is 342.

We completed 0.780821917808 of the total work and now are merging the data frame with id = 114
The length of dataFrame is 345.

We completed 0.787671232877 of the total work and now are merging the data frame with id = 115
The length of dataFrame is 348.

We completed 0.794520547945 of the total work and now are merging the data frame with id = 116
The length of dataFrame is 351.

We completed 0.801369863014 of the total work and now are merging the data frame with id = 117
The length of dataFrame is 354.

We completed 0.808219178082 of the total work and now are merging the data frame with id = 118
The length of dataFrame is 357.

We completed 0.815068493151 of the total work and now are merging the data frame with id = 119
The length of dataFrame is 360.

We completed 0.821917808219 of the total work and now are merging the data frame with id = 120
The length of dataFrame is 363.

We completed 0.828767123288 of the total work and now are merging the data frame with id = 121
The length of dataFrame is 366.

We completed 0.835616438356 of the total work and now are merging the data frame with id = 122
The length of dataFrame is 369.

We completed 0.842465753425 of the total work and now are merging the data frame with id = 123
The length of dataFrame is 372.

We completed 0.849315068493 of the total work and now are merging the data frame with id = 124
The length of dataFrame is 375.

We completed 0.856164383562 of the total work and now are merging the data frame with id = 125
The length of dataFrame is 378.

We completed 0.86301369863 of the total work and now are merging the data frame with id = 126
The length of dataFrame is 381.

We completed 0.869863013699 of the total work and now are merging the data frame with id = 127
The length of dataFrame is 384.

We completed 0.876712328767 of the total work and now are merging the data frame with id = 128
The length of dataFrame is 387.

We completed 0.883561643836 of the total work and now are merging the data frame with id = 129
The length of dataFrame is 390.

We completed 0.890410958904 of the total work and now are merging the data frame with id = 130
The length of dataFrame is 393.

We completed 0.897260273973 of the total work and now are merging the data frame with id = 131
The length of dataFrame is 396.

We completed 0.904109589041 of the total work and now are merging the data frame with id = 132
The length of dataFrame is 399.

We completed 0.91095890411 of the total work and now are merging the data frame with id = 133
The length of dataFrame is 402.

We completed 0.917808219178 of the total work and now are merging the data frame with id = 134
The length of dataFrame is 405.

We completed 0.924657534247 of the total work and now are merging the data frame with id = 135
The length of dataFrame is 408.

We completed 0.931506849315 of the total work and now are merging the data frame with id = 136
The length of dataFrame is 411.

We completed 0.938356164384 of the total work and now are merging the data frame with id = 137
The length of dataFrame is 414.

We completed 0.945205479452 of the total work and now are merging the data frame with id = 138
The length of dataFrame is 417.

We completed 0.952054794521 of the total work and now are merging the data frame with id = 139
The length of dataFrame is 420.

We completed 0.958904109589 of the total work and now are merging the data frame with id = 140
The length of dataFrame is 423.

We completed 0.965753424658 of the total work and now are merging the data frame with id = 141
The length of dataFrame is 426.

We completed 0.972602739726 of the total work and now are merging the data frame with id = 142
The length of dataFrame is 429.

We completed 0.979452054795 of the total work and now are merging the data frame with id = 143
The length of dataFrame is 433.

We completed 0.986301369863 of the total work and now are merging the data frame with id = 144
The length of dataFrame is 436.

We completed 0.993150684932 of the total work and now are merging the data frame with id = 145
The length of dataFrame is 440.

We're done

/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
list_id = range(2)
week_14_16 = [14,15,16]
file_name = '../data/result_song_3_4_9_01_test.csv' 
aaa=  merge_dataframe2(list_id, db1, db2, list_input, current_billboard, file_name, week_all=week_14_16)

/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

We are getting data frame for id = 0
The length of dataFrame is 3.

We completed 0.5 of the total work and now are merging the data frame with id = 1
The length of dataFrame is 6.

We're done

In [42]:
aaa = get_DataFrame_for_song2(0, db1, db2, list_input, current_billboard, week_14_16)
aaa.T

/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyError: 8

In [27]:
def merge_raw_dataframe2(list_id, db1, db2, file_name):
    
    print "We are getting data frame for id = {}".format(list_id[0])
    table_name = "test_01_" + str(list_id[0])
    tab1 = db1[table_name]
    tab2 = db2[table_name]
    df = info_raw_twitter_song2(list_id[0],tab1, tab2)
    print "The length of dataFrame is {}.".format(len(df))
    print " "
    
    if len(list_id) == 1:
        print "We're done"
        return df
    
    
    for i in range(1, len(list_id)):
        print "We completed {} of the total work and now are merging the data frame with id = {}".format\
        (1.0*i/len(list_id), list_id[i])
        
        table_name = "test_01_" + str(list_id[i])
        tab1 = db1[table_name]
        tab2 = db2[table_name]
        add_df = info_raw_twitter_song2(list_id[i],tab1, tab2)
        df = pd.concat([df, add_df])
        print "The length of dataFrame is {}.".format(len(df))
        print " "
    
    df.to_csv(file_name, sep=',', encoding='utf-8')
    print "We're done"
    return df

In [28]:
db1 = client['song3_database']
db2 = client['song4_database']
list_input = get_billboard("../data/billboard.csv")
list_id = range(len(list_input))
file_name = '../data_result_raw_song_3_4_9_03.csv' 
df_raw_total = merge_raw_dataframe2(list_id, db1, db2, file_name)

We are getting data frame for id = 0
The length of dataFrame is 668.

We completed 0.00684931506849 of the total work and now are merging the data frame with id = 1
The length of dataFrame is 5962.

We completed 0.013698630137 of the total work and now are merging the data frame with id = 2
The length of dataFrame is 10599.

We completed 0.0205479452055 of the total work and now are merging the data frame with id = 3
The length of dataFrame is 23928.

We completed 0.027397260274 of the total work and now are merging the data frame with id = 4
The length of dataFrame is 23934.

We completed 0.0342465753425 of the total work and now are merging the data frame with id = 5
The length of dataFrame is 23999.

We completed 0.041095890411 of the total work and now are merging the data frame with id = 6
The length of dataFrame is 24051.

We completed 0.0479452054795 of the total work and now are merging the data frame with id = 7
The length of dataFrame is 24051.

We completed 0.0547945205479 of the total work and now are merging the data frame with id = 8
The length of dataFrame is 24054.

We completed 0.0616438356164 of the total work and now are merging the data frame with id = 9
The length of dataFrame is 24065.

We completed 0.0684931506849 of the total work and now are merging the data frame with id = 10
The length of dataFrame is 24073.

We completed 0.0753424657534 of the total work and now are merging the data frame with id = 11
The length of dataFrame is 24073.

We completed 0.0821917808219 of the total work and now are merging the data frame with id = 12
The length of dataFrame is 24123.

We completed 0.0890410958904 of the total work and now are merging the data frame with id = 13
The length of dataFrame is 24133.

We completed 0.0958904109589 of the total work and now are merging the data frame with id = 14
The length of dataFrame is 24133.

We completed 0.102739726027 of the total work and now are merging the data frame with id = 15
The length of dataFrame is 24133.

We completed 0.109589041096 of the total work and now are merging the data frame with id = 16
The length of dataFrame is 24306.

We completed 0.116438356164 of the total work and now are merging the data frame with id = 17
The length of dataFrame is 24329.

We completed 0.123287671233 of the total work and now are merging the data frame with id = 18
The length of dataFrame is 24329.

We completed 0.130136986301 of the total work and now are merging the data frame with id = 19
The length of dataFrame is 24329.

We completed 0.13698630137 of the total work and now are merging the data frame with id = 20
The length of dataFrame is 24427.

We completed 0.143835616438 of the total work and now are merging the data frame with id = 21
The length of dataFrame is 24432.

We completed 0.150684931507 of the total work and now are merging the data frame with id = 22
The length of dataFrame is 27035.

We completed 0.157534246575 of the total work and now are merging the data frame with id = 23
The length of dataFrame is 27094.

We completed 0.164383561644 of the total work and now are merging the data frame with id = 24
The length of dataFrame is 27700.

We completed 0.171232876712 of the total work and now are merging the data frame with id = 25
The length of dataFrame is 35260.

We completed 0.178082191781 of the total work and now are merging the data frame with id = 26
The length of dataFrame is 35264.

We completed 0.184931506849 of the total work and now are merging the data frame with id = 27
The length of dataFrame is 35457.

We completed 0.191780821918 of the total work and now are merging the data frame with id = 28
The length of dataFrame is 35457.

We completed 0.198630136986 of the total work and now are merging the data frame with id = 29
The length of dataFrame is 35518.

We completed 0.205479452055 of the total work and now are merging the data frame with id = 30
The length of dataFrame is 35649.

We completed 0.212328767123 of the total work and now are merging the data frame with id = 31
The length of dataFrame is 35688.

We completed 0.219178082192 of the total work and now are merging the data frame with id = 32
The length of dataFrame is 35689.

We completed 0.22602739726 of the total work and now are merging the data frame with id = 33
The length of dataFrame is 35716.

We completed 0.232876712329 of the total work and now are merging the data frame with id = 34
The length of dataFrame is 42812.

We completed 0.239726027397 of the total work and now are merging the data frame with id = 35
The length of dataFrame is 47061.

We completed 0.246575342466 of the total work and now are merging the data frame with id = 36
The length of dataFrame is 47061.

We completed 0.253424657534 of the total work and now are merging the data frame with id = 37
The length of dataFrame is 47061.

We completed 0.260273972603 of the total work and now are merging the data frame with id = 38
The length of dataFrame is 50174.

We completed 0.267123287671 of the total work and now are merging the data frame with id = 39
The length of dataFrame is 50222.

We completed 0.27397260274 of the total work and now are merging the data frame with id = 40
The length of dataFrame is 50287.

We completed 0.280821917808 of the total work and now are merging the data frame with id = 41
The length of dataFrame is 50347.

We completed 0.287671232877 of the total work and now are merging the data frame with id = 42
The length of dataFrame is 50347.

We completed 0.294520547945 of the total work and now are merging the data frame with id = 43
The length of dataFrame is 50347.

We completed 0.301369863014 of the total work and now are merging the data frame with id = 44
The length of dataFrame is 50423.

We completed 0.308219178082 of the total work and now are merging the data frame with id = 45
The length of dataFrame is 50423.

We completed 0.315068493151 of the total work and now are merging the data frame with id = 46
The length of dataFrame is 50430.

We completed 0.321917808219 of the total work and now are merging the data frame with id = 47
The length of dataFrame is 50430.

We completed 0.328767123288 of the total work and now are merging the data frame with id = 48
The length of dataFrame is 52436.

We completed 0.335616438356 of the total work and now are merging the data frame with id = 49
The length of dataFrame is 52483.

We completed 0.342465753425 of the total work and now are merging the data frame with id = 50
The length of dataFrame is 52535.

We completed 0.349315068493 of the total work and now are merging the data frame with id = 51
The length of dataFrame is 52759.

We completed 0.356164383562 of the total work and now are merging the data frame with id = 52
The length of dataFrame is 52779.

We completed 0.36301369863 of the total work and now are merging the data frame with id = 53
The length of dataFrame is 52779.

We completed 0.369863013699 of the total work and now are merging the data frame with id = 54
The length of dataFrame is 52804.

We completed 0.376712328767 of the total work and now are merging the data frame with id = 55
The length of dataFrame is 52813.

We completed 0.383561643836 of the total work and now are merging the data frame with id = 56
The length of dataFrame is 52844.

We completed 0.390410958904 of the total work and now are merging the data frame with id = 57
The length of dataFrame is 52844.

We completed 0.397260273973 of the total work and now are merging the data frame with id = 58
The length of dataFrame is 52844.

We completed 0.404109589041 of the total work and now are merging the data frame with id = 59
The length of dataFrame is 52844.

We completed 0.41095890411 of the total work and now are merging the data frame with id = 60
The length of dataFrame is 52904.

We completed 0.417808219178 of the total work and now are merging the data frame with id = 61
The length of dataFrame is 52964.

We completed 0.424657534247 of the total work and now are merging the data frame with id = 62
The length of dataFrame is 52967.

We completed 0.431506849315 of the total work and now are merging the data frame with id = 63
The length of dataFrame is 61987.

We completed 0.438356164384 of the total work and now are merging the data frame with id = 64
The length of dataFrame is 61987.

We completed 0.445205479452 of the total work and now are merging the data frame with id = 65
The length of dataFrame is 62082.

We completed 0.452054794521 of the total work and now are merging the data frame with id = 66
The length of dataFrame is 62082.

We completed 0.458904109589 of the total work and now are merging the data frame with id = 67
The length of dataFrame is 62087.

We completed 0.465753424658 of the total work and now are merging the data frame with id = 68
The length of dataFrame is 62144.

We completed 0.472602739726 of the total work and now are merging the data frame with id = 69
The length of dataFrame is 62149.

We completed 0.479452054795 of the total work and now are merging the data frame with id = 70
The length of dataFrame is 71455.

We completed 0.486301369863 of the total work and now are merging the data frame with id = 71
The length of dataFrame is 71455.

We completed 0.493150684932 of the total work and now are merging the data frame with id = 72
The length of dataFrame is 71455.

We completed 0.5 of the total work and now are merging the data frame with id = 73
The length of dataFrame is 71458.

We completed 0.506849315068 of the total work and now are merging the data frame with id = 74
The length of dataFrame is 71536.

We completed 0.513698630137 of the total work and now are merging the data frame with id = 75
The length of dataFrame is 71565.

We completed 0.520547945205 of the total work and now are merging the data frame with id = 76
The length of dataFrame is 71570.

We completed 0.527397260274 of the total work and now are merging the data frame with id = 77
The length of dataFrame is 71573.

We completed 0.534246575342 of the total work and now are merging the data frame with id = 78
The length of dataFrame is 71750.

We completed 0.541095890411 of the total work and now are merging the data frame with id = 79
The length of dataFrame is 71751.

We completed 0.547945205479 of the total work and now are merging the data frame with id = 80
The length of dataFrame is 71751.

We completed 0.554794520548 of the total work and now are merging the data frame with id = 81
The length of dataFrame is 71751.

We completed 0.561643835616 of the total work and now are merging the data frame with id = 82
The length of dataFrame is 71807.

We completed 0.568493150685 of the total work and now are merging the data frame with id = 83
The length of dataFrame is 71807.

We completed 0.575342465753 of the total work and now are merging the data frame with id = 84
The length of dataFrame is 71867.

We completed 0.582191780822 of the total work and now are merging the data frame with id = 85
The length of dataFrame is 71918.

We completed 0.58904109589 of the total work and now are merging the data frame with id = 86
The length of dataFrame is 71971.

We completed 0.595890410959 of the total work and now are merging the data frame with id = 87
The length of dataFrame is 71971.

We completed 0.602739726027 of the total work and now are merging the data frame with id = 88
The length of dataFrame is 72033.

We completed 0.609589041096 of the total work and now are merging the data frame with id = 89
The length of dataFrame is 74916.

We completed 0.616438356164 of the total work and now are merging the data frame with id = 90
The length of dataFrame is 74916.

We completed 0.623287671233 of the total work and now are merging the data frame with id = 91
The length of dataFrame is 74930.

We completed 0.630136986301 of the total work and now are merging the data frame with id = 92
The length of dataFrame is 74932.

We completed 0.63698630137 of the total work and now are merging the data frame with id = 93
The length of dataFrame is 74990.

We completed 0.643835616438 of the total work and now are merging the data frame with id = 94
The length of dataFrame is 75280.

We completed 0.650684931507 of the total work and now are merging the data frame with id = 95
The length of dataFrame is 75287.

We completed 0.657534246575 of the total work and now are merging the data frame with id = 96
The length of dataFrame is 79496.

We completed 0.664383561644 of the total work and now are merging the data frame with id = 97
The length of dataFrame is 79558.

We completed 0.671232876712 of the total work and now are merging the data frame with id = 98
The length of dataFrame is 79558.

We completed 0.678082191781 of the total work and now are merging the data frame with id = 99
The length of dataFrame is 79604.

We completed 0.684931506849 of the total work and now are merging the data frame with id = 100
The length of dataFrame is 79693.

We completed 0.691780821918 of the total work and now are merging the data frame with id = 101
The length of dataFrame is 79695.

We completed 0.698630136986 of the total work and now are merging the data frame with id = 102
The length of dataFrame is 79733.

We completed 0.705479452055 of the total work and now are merging the data frame with id = 103
The length of dataFrame is 79910.

We completed 0.712328767123 of the total work and now are merging the data frame with id = 104
The length of dataFrame is 79918.

We completed 0.719178082192 of the total work and now are merging the data frame with id = 105
The length of dataFrame is 79921.

We completed 0.72602739726 of the total work and now are merging the data frame with id = 106
The length of dataFrame is 79923.

We completed 0.732876712329 of the total work and now are merging the data frame with id = 107
The length of dataFrame is 79989.

We completed 0.739726027397 of the total work and now are merging the data frame with id = 108
The length of dataFrame is 80003.

We completed 0.746575342466 of the total work and now are merging the data frame with id = 109
The length of dataFrame is 80003.

We completed 0.753424657534 of the total work and now are merging the data frame with id = 110
The length of dataFrame is 80005.

We completed 0.760273972603 of the total work and now are merging the data frame with id = 111
The length of dataFrame is 80006.

We completed 0.767123287671 of the total work and now are merging the data frame with id = 112
The length of dataFrame is 80006.

We completed 0.77397260274 of the total work and now are merging the data frame with id = 113
The length of dataFrame is 82273.

We completed 0.780821917808 of the total work and now are merging the data frame with id = 114
The length of dataFrame is 82330.

We completed 0.787671232877 of the total work and now are merging the data frame with id = 115
The length of dataFrame is 82330.

We completed 0.794520547945 of the total work and now are merging the data frame with id = 116
The length of dataFrame is 82609.

We completed 0.801369863014 of the total work and now are merging the data frame with id = 117
The length of dataFrame is 82668.

We completed 0.808219178082 of the total work and now are merging the data frame with id = 118
The length of dataFrame is 82749.

We completed 0.815068493151 of the total work and now are merging the data frame with id = 119
The length of dataFrame is 82755.

We completed 0.821917808219 of the total work and now are merging the data frame with id = 120
The length of dataFrame is 90502.

We completed 0.828767123288 of the total work and now are merging the data frame with id = 121
The length of dataFrame is 91368.

We completed 0.835616438356 of the total work and now are merging the data frame with id = 122
The length of dataFrame is 92205.

We completed 0.842465753425 of the total work and now are merging the data frame with id = 123
The length of dataFrame is 92221.

We completed 0.849315068493 of the total work and now are merging the data frame with id = 124
The length of dataFrame is 92256.

We completed 0.856164383562 of the total work and now are merging the data frame with id = 125
The length of dataFrame is 92256.

We completed 0.86301369863 of the total work and now are merging the data frame with id = 126
The length of dataFrame is 92256.

We completed 0.869863013699 of the total work and now are merging the data frame with id = 127
The length of dataFrame is 92259.

We completed 0.876712328767 of the total work and now are merging the data frame with id = 128
The length of dataFrame is 92278.

We completed 0.883561643836 of the total work and now are merging the data frame with id = 129
The length of dataFrame is 92278.

We completed 0.890410958904 of the total work and now are merging the data frame with id = 130
The length of dataFrame is 92278.

We completed 0.897260273973 of the total work and now are merging the data frame with id = 131
The length of dataFrame is 92284.

We completed 0.904109589041 of the total work and now are merging the data frame with id = 132
The length of dataFrame is 92298.

We completed 0.91095890411 of the total work and now are merging the data frame with id = 133
The length of dataFrame is 92304.

We completed 0.917808219178 of the total work and now are merging the data frame with id = 134
The length of dataFrame is 92306.

We completed 0.924657534247 of the total work and now are merging the data frame with id = 135
The length of dataFrame is 92306.

We completed 0.931506849315 of the total work and now are merging the data frame with id = 136
The length of dataFrame is 92347.

We completed 0.938356164384 of the total work and now are merging the data frame with id = 137
The length of dataFrame is 92395.

We completed 0.945205479452 of the total work and now are merging the data frame with id = 138
The length of dataFrame is 92397.

We completed 0.952054794521 of the total work and now are merging the data frame with id = 139
The length of dataFrame is 92402.

We completed 0.958904109589 of the total work and now are merging the data frame with id = 140
The length of dataFrame is 92405.

We completed 0.965753424658 of the total work and now are merging the data frame with id = 141
The length of dataFrame is 92405.

We completed 0.972602739726 of the total work and now are merging the data frame with id = 142
The length of dataFrame is 92481.

We completed 0.979452054795 of the total work and now are merging the data frame with id = 143
The length of dataFrame is 102535.

We completed 0.986301369863 of the total work and now are merging the data frame with id = 144
The length of dataFrame is 102535.

We completed 0.993150684932 of the total work and now are merging the data frame with id = 145
The length of dataFrame is 109410.

We're done