In [31]:
import pandas as pd
import time
import datetime
from datetime import timedelta
from pymongo import MongoClient
from textblob import TextBlob

In [32]:
client = MongoClient('localhost', 27017)
#db = client['test01_database']

In [33]:
def get_dataframe(tab):

    dataSet = pd.DataFrame()    
    dataSet["id"] = [tweet['id'] for tweet in tab.find()]
    dataSet["text"] = [tweet['text'] for tweet in tab.find()]
    dataSet["created_at"] = [tweet['created_at'] for tweet in tab.find()]
    dataSet["favorite_count"] = [tweet['favorite_count'] for tweet in tab.find()]
    #dataSet["retweet_count"] = [tweet['retweeted_status']['retweet_count'] tweet in tab.find()]
    dataSet["source"] = [tweet['source'] for tweet in tab.find()]
    dataSet["user_id"] = [tweet['user']['id'] for tweet in tab.find()]
    dataSet["user_screen_name"] = [tweet['user']['screen_name'] for tweet in tab.find()]
    dataSet["user_name"] = [tweet['user']['name'] for tweet in tab.find()]
    dataSet["user_created_at"] = [tweet['user']['created_at'] for tweet in tab.find()]
    dataSet["user_description"] = [tweet['user']['description'] for tweet in tab.find()]
    dataSet["user_followers_count"] = [tweet['user']['followers_count'] for tweet in tab.find()]
    dataSet["user_friends_count"] = [tweet['user']['friends_count'] for tweet in tab.find()]
    dataSet["user_location"] = [tweet['user']['location'] for tweet in tab.find()]
    dataSet["user_time_zone"] = [tweet['user']['time_zone'] for tweet in tab.find()]

    return dataSet.drop_duplicates()

In [34]:
def get_category_sent(score):
    if score > 0 :
        return "Pos"
    elif score < 0:
        return "Neg"
    else:
        return "Neu"

In [35]:
def find_week(date_time):
    
    day7 = timedelta(days=7)
    date_slected = datetime.date(2016,1, 9)
    all_date =[date_slected]
    for i in range(51):
        date_slected = date_slected + day7
        all_date.append(date_slected)

    week_firstDate = pd.DataFrame()
    week_firstDate['firstData'] = all_date
    week_firstDate['week'] = range(1,53)
    
    for i in range(52):
        if date_time.date() <= week_firstDate['firstData'][i]:
            return week_firstDate['week'][i]

In [36]:
def info_twitter_song(tab):

    df= get_dataframe(tab)
    df['sent_score'] = df['text'].map(lambda x : TextBlob(x).sentiment.polarity)
    df['sent_category'] = df['sent_score'].map(get_category_sent)
    df['pos'] = df['sent_category'].map(lambda x: 1 if x == 'Pos' else 0)
    df['neg'] = df['sent_category'].map(lambda x: 1 if x == 'Neg' else 0)
    df['neu'] = df['sent_category'].map(lambda x: 1 if x == 'Neu' else 0)
    df['created_at_time'] = df['created_at'].map(lambda x : datetime.datetime.strptime(x, "%a %b %d %H:%M:%S +0000 %Y"))
    df['created_at_time_min'] = df['created_at_time']
    df['created_at_time_max'] = df['created_at_time']
    df['created_at_time_date'] = df['created_at_time'].map(lambda x : x.date())
    df['week_from_one'] = df['created_at_time'].map(find_week)
    df['count'] = 1
    #df['source_short'] = df['source'].map(lambda x : str(x.split('>')[1].split('<')[0]))

    col_list = ['week_from_one']
    #agg_dic = {'favorite_count':sum, 'count':sum, 'pos':sum, 'neg':sum, 'neu':sum, 'created_at_time': [min, max]}
    agg_dic = {'favorite_count':sum, 'count':sum, 'pos':sum, 'neg':sum, 'neu':sum,'created_at_time_min': min,\
               'created_at_time_max': max}
    grouped = df.groupby(col_list).agg(agg_dic)
    grouped = grouped.reset_index()

    grouped['neg_rate']=1.0*grouped['neg']/grouped['count']
    grouped['pos_rate']=1.0*grouped['pos']/grouped['count']
    grouped['neu_rate']=1.0*grouped['neu']/grouped['count']
    grouped['ratio_pos_neg']=1.0*(grouped['pos']+1)/(grouped['neg'] +1)
    grouped['favorite_rate']=1.0*grouped['favorite_count']/grouped['count']

    #selected_col = ['week_from_one','count','pos_rate','neg_rate', 'neu_rate','ratio_pos_neg','favorite_rate']
    #slected = grouped[selected_col]
    slected = grouped
    return slected

In [37]:
def get_billboard(billboard_filename_path):

    df2 = pd.read_csv(billboard_filename_path, sep='|', names=['last_date','rank','song','long_artist'])
    df2['last_date_time'] = df2['last_date'].map(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
    df2['week_from_one'] = df2['last_date_time'].map(find_week)
    df2["artist"] = df2["long_artist"].map(lambda x : x.split('featuring')[0])
    df2["ID"] = df2["song"] + "%" +  df2["artist"]
    
    df= df2.pivot('ID', 'week_from_one', 'rank')
    df["ID"] = df.index
    df["song"] = df["ID"].map(lambda x : x.split('%')[0])
    df["artist"] = df["ID"].map(lambda x : x.split('%')[1])
    df.fillna(101,inplace=True)
    df.index = range(1,len(df)+1)
    df["IDN"] = df.index
    
    return df

In [38]:
def find_date(week_from_one):
    
    day7 = timedelta(days=7)
    day6 = timedelta(days=6)
    date_slected = datetime.date(2016,1,3)
    all_date =[date_slected]
    all_date_last = [date_slected + day6]
    for i in range(51):
        date_slected = date_slected + day7
        all_date.append(date_slected)
        all_date_last.append(date_slected +day6)
        
        

    week_Date = pd.DataFrame()
    week_Date['firstData'] = all_date
    week_Date['lastData'] = all_date_last
    week_Date['week'] = range(1,53)
    index_date = week_from_one - 1
    
    return str(all_date[index_date]) + ' ~ ' + str(all_date_last[index_date])

In [39]:
db = client['song3_database']
list_input = get_billboard("../data/billboard.csv")
list_id = range(len(list_input))
list_count = []
for song_id in list_id:
    table_name = "test_01_" + str(song_id)
    tab = db[table_name]
    list_count.append(tab.find().count())

In [40]:
ID_list_where = []
count_list_num = []
for i in range(7):
    ID_list_where.append(np.where (np.array(list_count) == i))
    count_list_num.append(sum(np.array(list_count) == i))

In [41]:
df_data_csv = pd.read_csv('result_03.csv')

In [42]:
AA = df_data_csv['Song_IDN']-1

In [83]:
from collections import Counter

list_song_df_data_csv = Counter(df_data_csv['Song_IDN']-1).keys()

No_list_song_df_data_csv = list(set(range(146)) - set(list_song_df_data_csv))
NO_data_twitter = list(np.where (np.array(list_count) == 0)[0])

print len(No_list_song_df_data_csv), len(NO_data_twitter)
print set(No_list_song_df_data_csv) - set(NO_data_twitter)
print set(NO_data_twitter) - set(No_list_song_df_data_csv)

print len(list_song_df_data_csv), len(list_input)

40 40
set([])
set([])
106 146

In [46]:
db = client['song3_database']
list_input = get_billboard("../data/billboard.csv")
current_billboard = get_billboard("../data/billboard2.csv")

In [96]:
song_id = 8
table_name = "test_01_" + str(song_id)
tab = db[table_name]
Song_history, twitter_table = twitter_info_table(song_id, db, list_input, current_billboard)

/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [97]:
Song_history

week_from_one,9,10,11,12,13,14,15,16,ID,song,artist,IDN,17,18,19
9,101,101,101,83,101,101,101,101,American Country Love Song%JAKE OWEN,American Country Love Song,JAKE OWEN,9,0,0,0

In [98]:
twitter_table

,date_period,week_from_one,Billboard_rank,twitter_per_hour,pos_rate,neg_rate,ratio_pos_neg,favorite_rate,Song_ID,Song_IDN
0,2016-04-17 ~ 2016-04-23,16,101,0.005952,1,0,2,0,American Country Love Song%JAKE OWEN,9

In [120]:
week_all = [] #[14,15,16]
twit = info_twitter_song(tab)
list(twit['week_from_one'].values)
diff = list(set(week_all) - set(list(twit['week_from_one'].values)))
print diff, len(diff), diff[0]
twit

[] 0

IndexError: list index out of range

In [23]:
df_song = twitter_table
df_song = df_song.rename(columns = {'week_from_one':'week'})
df_song = df_song.rename(columns = {'Billboard_rank':'current_rank'})
df_song['past_rank_1'] = df_song['week'].map(lambda x : int(Song_history[x-1]))

In [84]:
song_id = 0
table_name = "test_01_" + str(song_id)
tab = db[table_name]
Song_history, twitter_table = twitter_info_table(song_id, db, list_input, current_billboard)

/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [85]:
Song_history

week_from_one,9,10,11,12,13,14,15,16,ID,song,artist,IDN,17,18
1,95,95,89,101,101,101,101,101,$ave Dat Money%LIL DICKY,$ave Dat Money,LIL DICKY,1,0,0

In [86]:
twitter_table

,date_period,week_from_one,Billboard_rank,twitter_per_hour,pos_rate,neg_rate,ratio_pos_neg,favorite_rate,Song_ID,Song_IDN
0,2016-04-03 ~ 2016-04-09,14,101,1.054018,0.888889,0.000000,17.00,0.277778,$ave Dat Money%LIL DICKY,1
1,2016-04-10 ~ 2016-04-16,15,101,12.939767,0.915825,0.010101,68.25,0.340067,$ave Dat Money%LIL DICKY,1
2,2016-04-17 ~ 2016-04-23,16,101,3.948090,0.950000,0.000000,58.00,0.433333,$ave Dat Money%LIL DICKY,1

In [ ]:
def twitter_info_table_all(song_id, db, list_input, current_billboard, week_all):

    table_name = "test_01_" + str(song_id)
    tab = db[table_name]
    
    Input = [ ["#"+str(id.split('%')[0]), str(id.split('%')[1])]  for id in list_input["ID"]]
    max_week = max([x for x in list(current_billboard.columns) if isinstance(x, int)])
    current_billboard[max_week+1] = 0
    Song_history = current_billboard[current_billboard['ID']==list_input['ID'].values[song_id]]

    twit = info_twitter_song(tab)
    twit['diff_time'] = twit['created_at_time_max'] - twit['created_at_time_min']
    twit['diff_hour'] = twit['diff_time'].astype(pd.Timedelta).map(lambda x : float(x.seconds)/3600)
    twit['diff_hour_adj'] = twit['diff_hour'].map(lambda x: 24*7 if x == 0 else x )
    twit['twitter_per_hour'] = 1.0*twit['count']/twit['diff_hour_adj']
    
    
    col = ['week_from_one', 'twitter_per_hour','pos_rate', 'neg_rate','ratio_pos_neg' ,'favorite_rate']
    twitter_table = twit[col]
    
    list(twitter_table['week_from_one'].values)
    diff = set(week_all) - set(list(twitter_table['week_from_one'].values))
    
    if len(diff) > 0:
        for i in diff:
            add_one = twitter_table.iloc[0:1,]
            add_one['week_from_one'] = i
            add_one['twitter_per_hour'] = 1.0/(24*7)
            add_one['pos_rate'] = 0
            add_one['neg_rate'] = 0
            add_one['ratio_pos_neg'] = 1
            add_one['favorite_rate'] = 0
            twitter_table = pd.concat([add_one, twitter_table])
            
    twitter_table['Billboard_rank'] = [int(Song_history[week]) for week in twitter_table['week_from_one']]
    twitter_table['date_period'] = twitter_table['week_from_one'].map(find_date)
    #twitter_table['Billboard_rank_text'] = twitter_table['Billboard_rank'].map(lambda x : x if x <= 100 else "Not on Billboard")
    twitter_table['Song_ID'] = list_input["ID"].values[song_id]
    twitter_table['Song_IDN'] = song_id+1
    
    
    return Song_history, twitter_table

In [107]:
twit = info_twitter_song(tab)

In [114]:
twit.iloc[0:1,]

,week_from_one,count,neg,created_at_time_max,pos,created_at_time_min,neu,favorite_count,neg_rate,pos_rate,neu_rate,ratio_pos_neg,favorite_rate
0,16,1,0,2016-04-17 04:27:12,1,2016-04-17 04:27:12,0,0,0,1,0,2,0

In [25]:
def twitter_info_table(song_id, db, list_input, current_billboard):

    table_name = "test_01_" + str(song_id)
    tab = db[table_name]
    
    Input = [ ["#"+str(id.split('%')[0]), str(id.split('%')[1])]  for id in list_input["ID"]]
    max_week = max([x for x in list(current_billboard.columns) if isinstance(x, int)])
    current_billboard[max_week+1] = 0
    Song_history = current_billboard[current_billboard['ID']==list_input['ID'].values[song_id]]

    twit = info_twitter_song(tab)

    twit['Billboard_rank'] = [int(Song_history[week]) for week in twit['week_from_one']]
    twit['date_period'] = twit['week_from_one'].map(find_date)
    twit['Billboard_rank_text'] = twit['Billboard_rank'].map(lambda x : x if x <= 100 else "Not on Billboard")
    twit['diff_time'] = twit['created_at_time_max'] - twit['created_at_time_min']
    twit['diff_hour'] = twit['diff_time'].astype(pd.Timedelta).map(lambda x : float(x.seconds)/3600)
    twit['diff_hour_adj'] = twit['diff_hour'].map(lambda x: 24*7 if x == 0 else x )
    twit['twitter_per_hour'] = 1.0*twit['count']/twit['diff_hour_adj']
    col = ['date_period','week_from_one', 'Billboard_rank','twitter_per_hour',\
           'pos_rate', 'neg_rate','ratio_pos_neg' ,'favorite_rate']
    twitter_table = twit[col]
    twitter_table['Song_ID'] = list_input["ID"].values[song_id]
    twitter_table['Song_IDN'] = song_id+1
    
    return Song_history, twitter_table

In [26]:
def get_DataFrame_for_song(song_id, db, list_input, current_billboard):
    
    Song_history, twitter_table = twitter_info_table(song_id, db, list_input, current_billboard)
    df_song = twitter_table
    df_song = df_song.rename(columns = {'week_from_one':'week'})
    df_song = df_song.rename(columns = {'Billboard_rank':'current_rank'})
    df_song['past_rank_1'] = df_song['week'].map(lambda x : int(Song_history[x-1]))
    df_song['past_rank_2'] = df_song['week'].map(lambda x : int(Song_history[x-2]))
    df_song['past_rank_3'] = df_song['week'].map(lambda x : int(Song_history[x-3]))
    df_song['past_rank_4'] = df_song['week'].map(lambda x : int(Song_history[x-4]))
    df_song['next_rank'] = df_song['week'].map(lambda x : int(Song_history[x+1]))                                     
    
    
    col =['date_period','week','current_rank','count','twitter_per_hour','pos_rate',\
          'neg_rate','ratio_pos_neg','favorite_rate','Song_ID','Song_IDN',\
          'past_rank_1','past_rank_2','past_rank_3','past_rank_4','past_rank_4','next_rank']
    
    return df_song

In [ ]:
def get_DataFrame_for_song_all(song_id, db, list_input, current_billboard, week_all):
    
    Song_history, twitter_table = twitter_info_table_all(song_id, db, list_input, current_billboard, week_all)
    df_song = twitter_table
    df_song = df_song.rename(columns = {'week_from_one':'week'})
    df_song = df_song.rename(columns = {'Billboard_rank':'current_rank'})
    df_song['past_rank_1'] = df_song['week'].map(lambda x : int(Song_history[x-1]))
    df_song['past_rank_2'] = df_song['week'].map(lambda x : int(Song_history[x-2]))
    df_song['past_rank_3'] = df_song['week'].map(lambda x : int(Song_history[x-3]))
    df_song['past_rank_4'] = df_song['week'].map(lambda x : int(Song_history[x-4]))
    df_song['next_rank'] = df_song['week'].map(lambda x : int(Song_history[x+1]))                                     
    
    
    col =['date_period','week','current_rank','count','twitter_per_hour','pos_rate',\
          'neg_rate','ratio_pos_neg','favorite_rate','Song_ID','Song_IDN',\
          'past_rank_1','past_rank_2','past_rank_3','past_rank_4','past_rank_4','next_rank']
    
    return df_song

In [27]:
df_data_csv.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,0,1
date_period,2016-04-03 ~ 2016-04-09,2016-04-10 ~ 2016-04-16,2016-04-17 ~ 2016-04-23,2016-04-03 ~ 2016-04-09,2016-04-10 ~ 2016-04-16
week,14,15,16,14,15
current_rank,101,101,101,18,18
count,18,297,60,149,1983
twitter_per_hour,1.05402,12.9398,3.94809,7.78734,82.8052
pos_rate,0.888889,0.915825,0.95,0.248322,0.199193
neg_rate,0,0.010101,0,0.0671141,0.0564801
ratio_pos_neg,17,68.25,58,3.45455,3.50442
favorite_rate,0.277778,0.340067,0.433333,0.355705,0.537569
Song_ID,$ave Dat Money%LIL DICKY,$ave Dat Money%LIL DICKY,$ave Dat Money%LIL DICKY,2 Phones%KEVIN GATES,2 Phones%KEVIN GATES
Song_IDN,1,1,1,2,2
past_rank_1,101,101,101,18,18
past_rank_2,101,101,101,21,18
past_rank_3,89,101,101,25,21
past_rank_4,95,89,101,29,25
past_rank_5,95,95,89,40,29
next_rank,101,101,0,18,18

In [28]:
def merge_dataframe_all(list_id, db, list_input, current_billboard, file_name, week_all):
    
    print "We are getting data frame for id = {}".format(list_id[0])
    df = get_DataFrame_for_song_all(list_id[0], db, list_input, current_billboard, week_all)
    print "The length of dataFrame is {}.".format(len(df))
    print " "
    
    if len(list_id) == 1:
        print "We're done"
        return df
    
    
    for i in range(1, len(list_id)):
        print "We completed {} of the total work and now are merging the data frame with id = {}".format\
        (1.0*i/len(list_id), list_id[i])
        df = pd.concat([df, get_DataFrame_for_song(list_id[i], db, list_input, current_billboard)])
        print "The length of dataFrame is {}.".format(len(df))
        print " "
    
    df.to_csv(file_name, sep=',', encoding='utf-8')
    print "We're done"
    return df

In [115]:
def merge_dataframe(list_id, db, list_input, current_billboard, file_name):
    
    print "We are getting data frame for id = {}".format(list_id[0])
    df = get_DataFrame_for_song(list_id[0], db, list_input, current_billboard)
    print "The length of dataFrame is {}.".format(len(df))
    print " "
    
    if len(list_id) == 1:
        print "We're done"
        return df
    
    
    for i in range(1, len(list_id)):
        print "We completed {} of the total work and now are merging the data frame with id = {}".format\
        (1.0*i/len(list_id), list_id[i])
        df = pd.concat([df, get_DataFrame_for_song(list_id[i], db, list_input, current_billboard)])
        print "The length of dataFrame is {}.".format(len(df))
        print " "
    
    df.to_csv(file_name, sep=',', encoding='utf-8')
    print "We're done"
    return df

In [29]:
db = client['song3_database']
list_input = get_billboard("../data/billboard.csv")
current_billboard = get_billboard("../data/billboard2.csv")

In [30]:
list_id = range(len(list_input))
week_all = [14,15,16]
file_name = 'result_04.csv' 
df_total = merge_dataframe_all(list_id, db, list_input, current_billboard, file_name, week_all)

We are getting data frame for id = 0
The length of dataFrame is 3.

We completed 0.00684931506849 of the total work and now are merging the data frame with id = 1
The length of dataFrame is 6.

We completed 0.013698630137 of the total work and now are merging the data frame with id = 2
The length of dataFrame is 9.

We completed 0.0205479452055 of the total work and now are merging the data frame with id = 3

/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt: