In [1]:
import pandas as pd
import time
import datetime
from datetime import timedelta
from pymongo import MongoClient
from textblob import TextBlob

In [2]:
client = MongoClient('localhost', 27017)

In [3]:
def get_dataframe(tab):

    dataSet = pd.DataFrame()    
    dataSet["id"] = [tweet['id'] for tweet in tab.find()]
    dataSet["text"] = [tweet['text'] for tweet in tab.find()]
    dataSet["created_at"] = [tweet['created_at'] for tweet in tab.find()]
    dataSet["favorite_count"] = [tweet['favorite_count'] for tweet in tab.find()]
    #dataSet["retweet_count"] = [tweet['retweeted_status']['retweet_count'] tweet in tab.find()]
    dataSet["source"] = [tweet['source'] for tweet in tab.find()]
    dataSet["user_id"] = [tweet['user']['id'] for tweet in tab.find()]
    dataSet["user_screen_name"] = [tweet['user']['screen_name'] for tweet in tab.find()]
    dataSet["user_name"] = [tweet['user']['name'] for tweet in tab.find()]
    dataSet["user_created_at"] = [tweet['user']['created_at'] for tweet in tab.find()]
    dataSet["user_description"] = [tweet['user']['description'] for tweet in tab.find()]
    dataSet["user_followers_count"] = [tweet['user']['followers_count'] for tweet in tab.find()]
    dataSet["user_friends_count"] = [tweet['user']['friends_count'] for tweet in tab.find()]
    dataSet["user_location"] = [tweet['user']['location'] for tweet in tab.find()]
    dataSet["user_time_zone"] = [tweet['user']['time_zone'] for tweet in tab.find()]

    return dataSet.drop_duplicates()

In [4]:
def get_category_sent(score):
    if score > 0 :
        return "Pos"
    elif score < 0:
        return "Neg"
    else:
        return "Neu"

In [5]:
def find_week(date_time):
    
    day7 = timedelta(days=7)
    date_slected = datetime.date(2016,1, 9)
    all_date =[date_slected]
    for i in range(51):
        date_slected = date_slected + day7
        all_date.append(date_slected)

    week_firstDate = pd.DataFrame()
    week_firstDate['firstData'] = all_date
    week_firstDate['week'] = range(1,53)
    
    for i in range(52):
        if date_time.date() <= week_firstDate['firstData'][i]:
            return week_firstDate['week'][i]

In [10]:
def info_twitter_song_check(tab):

    df= get_dataframe(tab)
    df['sent_score'] = df['text'].map(lambda x : TextBlob(x).sentiment.polarity)
    df['sent_category'] = df['sent_score'].map(get_category_sent)
    df['pos'] = df['sent_category'].map(lambda x: 1 if x == 'Pos' else 0)
    df['neg'] = df['sent_category'].map(lambda x: 1 if x == 'Neg' else 0)
    df['neu'] = df['sent_category'].map(lambda x: 1 if x == 'Neu' else 0)
    df['created_at_time'] = df['created_at'].map(lambda x : datetime.datetime.strptime(x, "%a %b %d %H:%M:%S +0000 %Y"))
    df['created_at_time_min'] = df['created_at_time']
    df['created_at_time_max'] = df['created_at_time']
    df['created_at_time_date'] = df['created_at_time'].map(lambda x : x.date())
    df['week_from_one'] = df['created_at_time'].map(find_week)
    df['count'] = 1
    
    return df[['created_at_time','week_from_one']]

In [11]:
db = client['song3_database']
list_input = get_billboard("../data/billboard.csv")
current_billboard = get_billboard("../data/billboard2.csv")

In [12]:
song_id = 1
table_name = "test_01_" + str(song_id)
tab = db[table_name]

In [13]:
info_twitter_song_check(tab)

        created_at_time  week_from_one
0   2016-04-18 15:38:11             16
1   2016-04-18 14:59:39             16
2   2016-04-18 13:55:11             16
3   2016-04-18 13:45:27             16
4   2016-04-18 13:44:59             16
5   2016-04-18 13:00:00             16
6   2016-04-18 11:55:32             16
7   2016-04-18 11:30:27             16
8   2016-04-18 10:15:30             16
9   2016-04-18 10:03:53             16
10  2016-04-18 09:12:08             16
11  2016-04-18 08:14:57             16
12  2016-04-18 06:50:08             16
13  2016-04-18 06:33:50             16
14  2016-04-18 05:34:59             16
15  2016-04-18 04:16:02             16
16  2016-04-18 04:10:05             16
17  2016-04-18 03:35:15             16
18  2016-04-18 03:35:00             16
19  2016-04-18 02:02:42             16
20  2016-04-18 00:35:22             16
21  2016-04-18 00:34:44             16
22  2016-04-17 23:53:40             16
23  2016-04-17 22:30:28             16
24  2016-04-17 22:27:00             16
25  2016-04-17 22:21:33             16
26  2016-04-17 21:24:06             16
27  2016-04-17 20:51:41             16
28  2016-04-17 20:42:13             16
29  2016-04-17 19:54:31             16
..                  ...            ...
345 2016-04-09 07:10:29             14
346 2016-04-09 04:54:15             14
381 2016-04-17 17:16:07             16
401 2016-04-17 02:03:46             16
465 2016-04-15 04:45:47             15
479 2016-04-14 19:47:07             15
482 2016-04-14 18:57:09             15
515 2016-04-13 19:56:01             15
531 2016-04-13 04:40:32             15
546 2016-04-12 18:58:44             15
551 2016-04-12 18:15:07             15
570 2016-04-12 02:49:51             15
589 2016-04-11 18:23:01             15
590 2016-04-11 17:21:55             15
602 2016-04-11 10:18:38             15
606 2016-04-11 09:09:31             15
607 2016-04-11 09:09:29             15
608 2016-04-11 09:09:26             15
609 2016-04-11 09:09:20             15
610 2016-04-11 09:09:17             15
613 2016-04-11 06:15:42             15
618 2016-04-11 04:37:04             15
631 2016-04-10 22:20:12             15
646 2016-04-10 17:19:01             15
651 2016-04-10 13:48:54             15
659 2016-04-10 11:41:37             15
662 2016-04-10 08:43:51             15
663 2016-04-10 08:39:17             15
664 2016-04-10 08:29:15             15
682 2016-04-09 20:24:20             14

[375 rows x 2 columns]

In [6]:
def info_twitter_song(tab):

    df= get_dataframe(tab)
    df['sent_score'] = df['text'].map(lambda x : TextBlob(x).sentiment.polarity)
    df['sent_category'] = df['sent_score'].map(get_category_sent)
    df['pos'] = df['sent_category'].map(lambda x: 1 if x == 'Pos' else 0)
    df['neg'] = df['sent_category'].map(lambda x: 1 if x == 'Neg' else 0)
    df['neu'] = df['sent_category'].map(lambda x: 1 if x == 'Neu' else 0)
    df['created_at_time'] = df['created_at'].map(lambda x : datetime.datetime.strptime(x, "%a %b %d %H:%M:%S +0000 %Y"))
    df['created_at_time_min'] = df['created_at_time']
    df['created_at_time_max'] = df['created_at_time']
    df['created_at_time_date'] = df['created_at_time'].map(lambda x : x.date())
    df['week_from_one'] = df['created_at_time'].map(find_week)
    df['count'] = 1
    #df['source_short'] = df['source'].map(lambda x : str(x.split('>')[1].split('<')[0]))

    col_list = ['week_from_one']
    #agg_dic = {'favorite_count':sum, 'count':sum, 'pos':sum, 'neg':sum, 'neu':sum, 'created_at_time': [min, max]}
    agg_dic = {'favorite_count':sum, 'count':sum, 'pos':sum, 'neg':sum, 'neu':sum,'created_at_time_min': min,\
               'created_at_time_max': max}
    grouped = df.groupby(col_list).agg(agg_dic)
    grouped = grouped.reset_index()

    grouped['neg_rate']=1.0*grouped['neg']/grouped['count']
    grouped['pos_rate']=1.0*grouped['pos']/grouped['count']
    grouped['neu_rate']=1.0*grouped['neu']/grouped['count']
    grouped['ratio_pos_neg']=1.0*(grouped['pos']+1)/(grouped['neg'] +1)
    grouped['favorite_rate']=1.0*grouped['favorite_count']/grouped['count']

    #selected_col = ['week_from_one','count','pos_rate','neg_rate', 'neu_rate','ratio_pos_neg','favorite_rate']
    #slected = grouped[selected_col]
    slected = grouped
    return slected

In [7]:
def get_billboard(billboard_filename_path):

    df2 = pd.read_csv(billboard_filename_path, sep='|', names=['last_date','rank','song','long_artist'])
    df2['last_date_time'] = df2['last_date'].map(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
    df2['week_from_one'] = df2['last_date_time'].map(find_week)
    df2["artist"] = df2["long_artist"].map(lambda x : x.split('featuring')[0])
    df2["ID"] = df2["song"] + "%" +  df2["artist"]
    
    df= df2.pivot('ID', 'week_from_one', 'rank')
    df["ID"] = df.index
    df["song"] = df["ID"].map(lambda x : x.split('%')[0])
    df["artist"] = df["ID"].map(lambda x : x.split('%')[1])
    df.fillna(101,inplace=True)
    df.index = range(1,len(df)+1)
    df["IDN"] = df.index
    
    return df

In [8]:
def find_date(week_from_one):
    
    day7 = timedelta(days=7)
    day6 = timedelta(days=6)
    date_slected = datetime.date(2016,1,3)
    all_date =[date_slected]
    all_date_last = [date_slected + day6]
    for i in range(51):
        date_slected = date_slected + day7
        all_date.append(date_slected)
        all_date_last.append(date_slected +day6)
        
        

    week_Date = pd.DataFrame()
    week_Date['firstData'] = all_date
    week_Date['lastData'] = all_date_last
    week_Date['week'] = range(1,53)
    index_date = week_from_one - 1
    
    return str(all_date[index_date]) + ' ~ ' + str(all_date_last[index_date])

In [9]:
def list_no_twitter(list_id, db):
    list_count = []
    for song_id in list_id:
        table_name = "test_01_" + str(song_id)
        tab = db[table_name]
        list_count.append(tab.find().count())
        np
    
    return list(np.array(list_id)[np.array(list_count) == 0])

db = client['song3_database']
list_input = get_billboard("../data/billboard.csv")
list_id = range(len(list_input))    

#list_no_twitter(list_id, db)

In [10]:
'''
from collections import Counter

list_song_df_data_csv = Counter(df_data_csv['Song_IDN']-1).keys()

No_list_song_df_data_csv = list(set(range(146)) - set(list_song_df_data_csv))
NO_data_twitter = list(np.where (np.array(list_count) == 0)[0])

print len(No_list_song_df_data_csv), len(NO_data_twitter)
print set(No_list_song_df_data_csv) - set(NO_data_twitter)
print set(NO_data_twitter) - set(No_list_song_df_data_csv)

print len(list_song_df_data_csv), len(list_input)
'''

"\nfrom collections import Counter\n\nlist_song_df_data_csv = Counter(df_data_csv['Song_IDN']-1).keys()\n\nNo_list_song_df_data_csv = list(set(range(146)) - set(list_song_df_data_csv))\nNO_data_twitter = list(np.where (np.array(list_count) == 0)[0])\n\nprint len(No_list_song_df_data_csv), len(NO_data_twitter)\nprint set(No_list_song_df_data_csv) - set(NO_data_twitter)\nprint set(NO_data_twitter) - set(No_list_song_df_data_csv)\n\nprint len(list_song_df_data_csv), len(list_input)\n"

In [11]:
def twitter_info_table(song_id, db, list_input, current_billboard, week_all):

    table_name = "test_01_" + str(song_id)
    tab = db[table_name]
    
    Input = [ ["#"+str(id.split('%')[0]), str(id.split('%')[1])]  for id in list_input["ID"]]
    max_week = max([x for x in list(current_billboard.columns) if isinstance(x, int)])
    current_billboard[max_week+1] = 0
    Song_history = current_billboard[current_billboard['ID']==list_input['ID'].values[song_id]]

    twit = info_twitter_song(tab)
    twit['diff_time'] = twit['created_at_time_max'] - twit['created_at_time_min']
    twit['diff_hour'] = twit['diff_time'].astype(pd.Timedelta).map(lambda x : float(x.seconds)/3600)
    twit['diff_hour_adj'] = twit['diff_hour'].map(lambda x: 24*7 if x == 0 else x )
    twit['twitter_per_hour'] = 1.0*twit['count']/twit['diff_hour_adj']
    
    
    col = ['week_from_one', 'twitter_per_hour','pos_rate', 'neg_rate','ratio_pos_neg' ,'favorite_rate']
    twitter_table = twit[col]
    
    diff = set(week_all) - set(list(twitter_table['week_from_one'].values))
    
    if len(diff) > 0:
        for i in diff:
            add_one = twitter_table.copy().iloc[0:1,]
            add_one['week_from_one'] = i
            add_one['twitter_per_hour'] = 1.0/(24*7)
            add_one['pos_rate'] = 0
            add_one['neg_rate'] = 0
            add_one['ratio_pos_neg'] = 1
            add_one['favorite_rate'] = 0
            twitter_table = pd.concat([add_one, twitter_table])
            
    twitter_table['Billboard_rank'] = [int(Song_history[week]) for week in twitter_table['week_from_one']]
    twitter_table['date_period'] = twitter_table['week_from_one'].map(find_date)
    #twitter_table['Billboard_rank_text'] = twitter_table['Billboard_rank'].map(lambda x : x if x <= 100 else "Not on Billboard")
    twitter_table['Song_ID'] = list_input["ID"].values[song_id]
    twitter_table['Song_IDN'] = song_id+1
    
    
    return Song_history, twitter_table

In [12]:
def twitter_info_table_no_twitter(song_id, db, list_input, current_billboard, week_all):


    Input = [ ["#"+str(id.split('%')[0]), str(id.split('%')[1])]  for id in list_input["ID"]]
    max_week = max([x for x in list(current_billboard.columns) if isinstance(x, int)])
    current_billboard[max_week+1] = 0
    
    Song_history = current_billboard[current_billboard['ID']==list_input['ID'].values[song_id]]

    
    twitter_table = pd.DataFrame()
    twitter_table['week_from_one'] = week_all
    twitter_table['twitter_per_hour'] = 1.0/(24*7)
    twitter_table['pos_rate'] = 0
    twitter_table['neg_rate'] = 0
    twitter_table['ratio_pos_neg'] = 1
    twitter_table['favorite_rate'] = 0
            
    twitter_table['Billboard_rank'] = [int(Song_history[week]) for week in twitter_table['week_from_one']]
    twitter_table['date_period'] = twitter_table['week_from_one'].map(find_date)
    #twitter_table['Billboard_rank_text'] = twitter_table['Billboard_rank'].map(lambda x : x if x <= 100 else "Not on Billboard")
    twitter_table['Song_ID'] = list_input["ID"].values[song_id]
    twitter_table['Song_IDN'] = song_id+1
    
    return Song_history, twitter_table

In [13]:
def get_DataFrame_for_song(song_id, db, list_input, current_billboard, week_all):
    
    NoTwitter = list_no_twitter(range(len(list_input)), db)
    
    if song_id in NoTwitter:
        Song_history, twitter_table = twitter_info_table_no_twitter(song_id, db, list_input, current_billboard, week_all)
    else:
        Song_history, twitter_table = twitter_info_table(song_id, db, list_input, current_billboard, week_all)
    
    df_song = twitter_table
    df_song = df_song.rename(columns = {'week_from_one':'week'})
    df_song = df_song.rename(columns = {'Billboard_rank':'current_rank'})
    df_song['past_rank_1'] = df_song['week'].map(lambda x : int(Song_history[x-1]))
    df_song['past_rank_2'] = df_song['week'].map(lambda x : int(Song_history[x-2]))
    df_song['past_rank_3'] = df_song['week'].map(lambda x : int(Song_history[x-3]))
    df_song['past_rank_4'] = df_song['week'].map(lambda x : int(Song_history[x-4]))
    df_song['next_rank'] = df_song['week'].map(lambda x : int(Song_history[x+1]))                                     
    
    
    col =['date_period','week','current_rank','count','twitter_per_hour','pos_rate',\
          'neg_rate','ratio_pos_neg','favorite_rate','Song_ID','Song_IDN',\
          'past_rank_1','past_rank_2','past_rank_3','past_rank_4','past_rank_4','next_rank']
    
    return df_song

In [14]:
def merge_dataframe(list_id, db, list_input, current_billboard, file_name, week_all=[]):
    
    print "We are getting data frame for id = {}".format(list_id[0])
    df = get_DataFrame_for_song(list_id[0], db, list_input, current_billboard, week_all)    
    print "The length of dataFrame is {}.".format(len(df))
    print " "
    
    if len(list_id) == 1:
        print "We're done"
        return df
    
    
    for i in range(1, len(list_id)):
        print "We completed {} of the total work and now are merging the data frame with id = {}".format\
        (1.0*i/len(list_id), list_id[i])
        
        add_df = get_DataFrame_for_song(list_id[i], db, list_input, current_billboard, week_all)
        df = pd.concat([df, add_df])
        print "The length of dataFrame is {}.".format(len(df))
        print " "
    
    df.to_csv(file_name, sep=',', encoding='utf-8')
    print "We're done"
    return df

In [15]:
db = client['song3_database']
list_input = get_billboard("../data/billboard.csv")
current_billboard = get_billboard("../data/billboard2.csv")

In [16]:
list_id = range(len(list_input))
week_14_16 = [14,15,16]
file_name = 'result_06.csv' 
df_total = merge_dataframe(list_id, db, list_input, current_billboard, file_name, week_all=week_14_16)

/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

We are getting data frame for id = 0
The length of dataFrame is 3.

We completed 0.00684931506849 of the total work and now are merging the data frame with id = 1
The length of dataFrame is 6.

We completed 0.013698630137 of the total work and now are merging the data frame with id = 2
The length of dataFrame is 9.

We completed 0.0205479452055 of the total work and now are merging the data frame with id = 3
The length of dataFrame is 12.

We completed 0.027397260274 of the total work and now are merging the data frame with id = 4
The length of dataFrame is 15.

We completed 0.0342465753425 of the total work and now are merging the data frame with id = 5
The length of dataFrame is 18.

We completed 0.041095890411 of the total work and now are merging the data frame with id = 6
The length of dataFrame is 21.

We completed 0.0479452054795 of the total work and now are merging the data frame with id = 7
The length of dataFrame is 24.

We completed 0.0547945205479 of the total work and now are merging the data frame with id = 8
The length of dataFrame is 27.

We completed 0.0616438356164 of the total work and now are merging the data frame with id = 9
The length of dataFrame is 30.

We completed 0.0684931506849 of the total work and now are merging the data frame with id = 10
The length of dataFrame is 33.

We completed 0.0753424657534 of the total work and now are merging the data frame with id = 11
The length of dataFrame is 36.

We completed 0.0821917808219 of the total work and now are merging the data frame with id = 12
The length of dataFrame is 39.

We completed 0.0890410958904 of the total work and now are merging the data frame with id = 13
The length of dataFrame is 42.

We completed 0.0958904109589 of the total work and now are merging the data frame with id = 14
The length of dataFrame is 45.

We completed 0.102739726027 of the total work and now are merging the data frame with id = 15
The length of dataFrame is 48.

We completed 0.109589041096 of the total work and now are merging the data frame with id = 16
The length of dataFrame is 51.

We completed 0.116438356164 of the total work and now are merging the data frame with id = 17
The length of dataFrame is 54.

We completed 0.123287671233 of the total work and now are merging the data frame with id = 18
The length of dataFrame is 57.

We completed 0.130136986301 of the total work and now are merging the data frame with id = 19
The length of dataFrame is 60.

We completed 0.13698630137 of the total work and now are merging the data frame with id = 20
The length of dataFrame is 63.

We completed 0.143835616438 of the total work and now are merging the data frame with id = 21
The length of dataFrame is 66.

We completed 0.150684931507 of the total work and now are merging the data frame with id = 22
The length of dataFrame is 69.

We completed 0.157534246575 of the total work and now are merging the data frame with id = 23
The length of dataFrame is 72.

We completed 0.164383561644 of the total work and now are merging the data frame with id = 24
The length of dataFrame is 75.

We completed 0.171232876712 of the total work and now are merging the data frame with id = 25
The length of dataFrame is 78.

We completed 0.178082191781 of the total work and now are merging the data frame with id = 26
The length of dataFrame is 81.

We completed 0.184931506849 of the total work and now are merging the data frame with id = 27
The length of dataFrame is 84.

We completed 0.191780821918 of the total work and now are merging the data frame with id = 28
The length of dataFrame is 87.

We completed 0.198630136986 of the total work and now are merging the data frame with id = 29
The length of dataFrame is 90.

We completed 0.205479452055 of the total work and now are merging the data frame with id = 30
The length of dataFrame is 93.

We completed 0.212328767123 of the total work and now are merging the data frame with id = 31
The length of dataFrame is 96.

We completed 0.219178082192 of the total work and now are merging the data frame with id = 32
The length of dataFrame is 99.

We completed 0.22602739726 of the total work and now are merging the data frame with id = 33
The length of dataFrame is 102.

We completed 0.232876712329 of the total work and now are merging the data frame with id = 34
The length of dataFrame is 105.

We completed 0.239726027397 of the total work and now are merging the data frame with id = 35
The length of dataFrame is 108.

We completed 0.246575342466 of the total work and now are merging the data frame with id = 36
The length of dataFrame is 111.

We completed 0.253424657534 of the total work and now are merging the data frame with id = 37
The length of dataFrame is 114.

We completed 0.260273972603 of the total work and now are merging the data frame with id = 38
The length of dataFrame is 117.

We completed 0.267123287671 of the total work and now are merging the data frame with id = 39
The length of dataFrame is 120.

We completed 0.27397260274 of the total work and now are merging the data frame with id = 40
The length of dataFrame is 123.

We completed 0.280821917808 of the total work and now are merging the data frame with id = 41
The length of dataFrame is 126.

We completed 0.287671232877 of the total work and now are merging the data frame with id = 42
The length of dataFrame is 129.

We completed 0.294520547945 of the total work and now are merging the data frame with id = 43
The length of dataFrame is 132.

We completed 0.301369863014 of the total work and now are merging the data frame with id = 44
The length of dataFrame is 135.

We completed 0.308219178082 of the total work and now are merging the data frame with id = 45
The length of dataFrame is 138.

We completed 0.315068493151 of the total work and now are merging the data frame with id = 46
The length of dataFrame is 141.

We completed 0.321917808219 of the total work and now are merging the data frame with id = 47
The length of dataFrame is 144.

We completed 0.328767123288 of the total work and now are merging the data frame with id = 48
The length of dataFrame is 147.

We completed 0.335616438356 of the total work and now are merging the data frame with id = 49
The length of dataFrame is 150.

We completed 0.342465753425 of the total work and now are merging the data frame with id = 50
The length of dataFrame is 153.

We completed 0.349315068493 of the total work and now are merging the data frame with id = 51
The length of dataFrame is 156.

We completed 0.356164383562 of the total work and now are merging the data frame with id = 52
The length of dataFrame is 159.

We completed 0.36301369863 of the total work and now are merging the data frame with id = 53
The length of dataFrame is 162.

We completed 0.369863013699 of the total work and now are merging the data frame with id = 54
The length of dataFrame is 165.

We completed 0.376712328767 of the total work and now are merging the data frame with id = 55
The length of dataFrame is 168.

We completed 0.383561643836 of the total work and now are merging the data frame with id = 56
The length of dataFrame is 171.

We completed 0.390410958904 of the total work and now are merging the data frame with id = 57
The length of dataFrame is 174.

We completed 0.397260273973 of the total work and now are merging the data frame with id = 58
The length of dataFrame is 177.

We completed 0.404109589041 of the total work and now are merging the data frame with id = 59
The length of dataFrame is 180.

We completed 0.41095890411 of the total work and now are merging the data frame with id = 60
The length of dataFrame is 183.

We completed 0.417808219178 of the total work and now are merging the data frame with id = 61
The length of dataFrame is 186.

We completed 0.424657534247 of the total work and now are merging the data frame with id = 62
The length of dataFrame is 189.

We completed 0.431506849315 of the total work and now are merging the data frame with id = 63
The length of dataFrame is 192.

We completed 0.438356164384 of the total work and now are merging the data frame with id = 64
The length of dataFrame is 195.

We completed 0.445205479452 of the total work and now are merging the data frame with id = 65
The length of dataFrame is 198.

We completed 0.452054794521 of the total work and now are merging the data frame with id = 66
The length of dataFrame is 201.

We completed 0.458904109589 of the total work and now are merging the data frame with id = 67
The length of dataFrame is 204.

We completed 0.465753424658 of the total work and now are merging the data frame with id = 68
The length of dataFrame is 207.

We completed 0.472602739726 of the total work and now are merging the data frame with id = 69
The length of dataFrame is 210.

We completed 0.479452054795 of the total work and now are merging the data frame with id = 70
The length of dataFrame is 213.

We completed 0.486301369863 of the total work and now are merging the data frame with id = 71
The length of dataFrame is 216.

We completed 0.493150684932 of the total work and now are merging the data frame with id = 72
The length of dataFrame is 219.

We completed 0.5 of the total work and now are merging the data frame with id = 73
The length of dataFrame is 222.

We completed 0.506849315068 of the total work and now are merging the data frame with id = 74
The length of dataFrame is 225.

We completed 0.513698630137 of the total work and now are merging the data frame with id = 75
The length of dataFrame is 228.

We completed 0.520547945205 of the total work and now are merging the data frame with id = 76
The length of dataFrame is 231.

We completed 0.527397260274 of the total work and now are merging the data frame with id = 77
The length of dataFrame is 234.

We completed 0.534246575342 of the total work and now are merging the data frame with id = 78
The length of dataFrame is 237.

We completed 0.541095890411 of the total work and now are merging the data frame with id = 79
The length of dataFrame is 240.

We completed 0.547945205479 of the total work and now are merging the data frame with id = 80
The length of dataFrame is 243.

We completed 0.554794520548 of the total work and now are merging the data frame with id = 81
The length of dataFrame is 246.

We completed 0.561643835616 of the total work and now are merging the data frame with id = 82
The length of dataFrame is 249.

We completed 0.568493150685 of the total work and now are merging the data frame with id = 83
The length of dataFrame is 252.

We completed 0.575342465753 of the total work and now are merging the data frame with id = 84
The length of dataFrame is 255.

We completed 0.582191780822 of the total work and now are merging the data frame with id = 85
The length of dataFrame is 258.

We completed 0.58904109589 of the total work and now are merging the data frame with id = 86
The length of dataFrame is 261.

We completed 0.595890410959 of the total work and now are merging the data frame with id = 87
The length of dataFrame is 264.

We completed 0.602739726027 of the total work and now are merging the data frame with id = 88
The length of dataFrame is 267.

We completed 0.609589041096 of the total work and now are merging the data frame with id = 89
The length of dataFrame is 270.

We completed 0.616438356164 of the total work and now are merging the data frame with id = 90
The length of dataFrame is 273.

We completed 0.623287671233 of the total work and now are merging the data frame with id = 91
The length of dataFrame is 276.

We completed 0.630136986301 of the total work and now are merging the data frame with id = 92
The length of dataFrame is 279.

We completed 0.63698630137 of the total work and now are merging the data frame with id = 93
The length of dataFrame is 282.

We completed 0.643835616438 of the total work and now are merging the data frame with id = 94
The length of dataFrame is 285.

We completed 0.650684931507 of the total work and now are merging the data frame with id = 95
The length of dataFrame is 288.

We completed 0.657534246575 of the total work and now are merging the data frame with id = 96
The length of dataFrame is 291.

We completed 0.664383561644 of the total work and now are merging the data frame with id = 97
The length of dataFrame is 294.

We completed 0.671232876712 of the total work and now are merging the data frame with id = 98
The length of dataFrame is 297.

We completed 0.678082191781 of the total work and now are merging the data frame with id = 99
The length of dataFrame is 300.

We completed 0.684931506849 of the total work and now are merging the data frame with id = 100
The length of dataFrame is 303.

We completed 0.691780821918 of the total work and now are merging the data frame with id = 101
The length of dataFrame is 306.

We completed 0.698630136986 of the total work and now are merging the data frame with id = 102
The length of dataFrame is 309.

We completed 0.705479452055 of the total work and now are merging the data frame with id = 103
The length of dataFrame is 312.

We completed 0.712328767123 of the total work and now are merging the data frame with id = 104
The length of dataFrame is 315.

We completed 0.719178082192 of the total work and now are merging the data frame with id = 105
The length of dataFrame is 318.

We completed 0.72602739726 of the total work and now are merging the data frame with id = 106
The length of dataFrame is 321.

We completed 0.732876712329 of the total work and now are merging the data frame with id = 107
The length of dataFrame is 324.

We completed 0.739726027397 of the total work and now are merging the data frame with id = 108
The length of dataFrame is 327.

We completed 0.746575342466 of the total work and now are merging the data frame with id = 109
The length of dataFrame is 330.

We completed 0.753424657534 of the total work and now are merging the data frame with id = 110
The length of dataFrame is 333.

We completed 0.760273972603 of the total work and now are merging the data frame with id = 111
The length of dataFrame is 336.

We completed 0.767123287671 of the total work and now are merging the data frame with id = 112
The length of dataFrame is 339.

We completed 0.77397260274 of the total work and now are merging the data frame with id = 113
The length of dataFrame is 342.

We completed 0.780821917808 of the total work and now are merging the data frame with id = 114
The length of dataFrame is 345.

We completed 0.787671232877 of the total work and now are merging the data frame with id = 115
The length of dataFrame is 348.

We completed 0.794520547945 of the total work and now are merging the data frame with id = 116
The length of dataFrame is 351.

We completed 0.801369863014 of the total work and now are merging the data frame with id = 117
The length of dataFrame is 354.

We completed 0.808219178082 of the total work and now are merging the data frame with id = 118
The length of dataFrame is 357.

We completed 0.815068493151 of the total work and now are merging the data frame with id = 119
The length of dataFrame is 360.

We completed 0.821917808219 of the total work and now are merging the data frame with id = 120
The length of dataFrame is 363.

We completed 0.828767123288 of the total work and now are merging the data frame with id = 121
The length of dataFrame is 366.

We completed 0.835616438356 of the total work and now are merging the data frame with id = 122
The length of dataFrame is 369.

We completed 0.842465753425 of the total work and now are merging the data frame with id = 123
The length of dataFrame is 372.

We completed 0.849315068493 of the total work and now are merging the data frame with id = 124
The length of dataFrame is 375.

We completed 0.856164383562 of the total work and now are merging the data frame with id = 125
The length of dataFrame is 378.

We completed 0.86301369863 of the total work and now are merging the data frame with id = 126
The length of dataFrame is 381.

We completed 0.869863013699 of the total work and now are merging the data frame with id = 127
The length of dataFrame is 384.

We completed 0.876712328767 of the total work and now are merging the data frame with id = 128
The length of dataFrame is 387.

We completed 0.883561643836 of the total work and now are merging the data frame with id = 129
The length of dataFrame is 390.

We completed 0.890410958904 of the total work and now are merging the data frame with id = 130
The length of dataFrame is 393.

We completed 0.897260273973 of the total work and now are merging the data frame with id = 131
The length of dataFrame is 396.

We completed 0.904109589041 of the total work and now are merging the data frame with id = 132
The length of dataFrame is 399.

We completed 0.91095890411 of the total work and now are merging the data frame with id = 133
The length of dataFrame is 402.

We completed 0.917808219178 of the total work and now are merging the data frame with id = 134
The length of dataFrame is 405.

We completed 0.924657534247 of the total work and now are merging the data frame with id = 135
The length of dataFrame is 408.

We completed 0.931506849315 of the total work and now are merging the data frame with id = 136
The length of dataFrame is 411.

We completed 0.938356164384 of the total work and now are merging the data frame with id = 137
The length of dataFrame is 414.

We completed 0.945205479452 of the total work and now are merging the data frame with id = 138
The length of dataFrame is 417.

We completed 0.952054794521 of the total work and now are merging the data frame with id = 139
The length of dataFrame is 420.

We completed 0.958904109589 of the total work and now are merging the data frame with id = 140
The length of dataFrame is 423.

We completed 0.965753424658 of the total work and now are merging the data frame with id = 141
The length of dataFrame is 426.

We completed 0.972602739726 of the total work and now are merging the data frame with id = 142
The length of dataFrame is 429.

We completed 0.979452054795 of the total work and now are merging the data frame with id = 143
The length of dataFrame is 432.

We completed 0.986301369863 of the total work and now are merging the data frame with id = 144
The length of dataFrame is 435.

We completed 0.993150684932 of the total work and now are merging the data frame with id = 145
The length of dataFrame is 438.

We're done

/Users/Yeongcheon/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
db = client['song3_database']

In [18]:
song_id = 0
table_name = "test_01_" + str(song_id)
tab = db[table_name]

In [19]:
table = get_dataframe(tab)

In [20]:
table.head()

,id,text,created_at,favorite_count,source,user_id,user_screen_name,user_name,user_created_at,user_description,user_followers_count,user_friends_count,user_location,user_time_zone
0,722086835183292416,@taigassi_twt Lil Dicky â€“ $ave Dat Money,Mon Apr 18 15:38:11 +0000 2016,0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",2602168940,melkiaaj,Ð¼Ð°ÐºÐ½ÑÑˆÐ°'25,Thu Jul 03 19:52:46 +0000 2014,just friends,1050,46,United States,Nairobi
1,722077136442519552,#NowPlaying Lil Dicky - Fetty Wap - Rich Homi...,Mon Apr 18 14:59:39 +0000 2016,0,"<a href=""http://share.radionomy.com"" rel=""nofo...",3744306616,BRMBRadioMusic,BRMB Radio,Wed Sep 23 00:57:27 +0000 2015,Atlanta's #1 fastest growing international rad...,301,197,"Atlanta, GA",None
2,722060914376196096,I liked a @YouTube video https://t.co/XRijPfYy...,Mon Apr 18 13:55:11 +0000 2016,0,"<a href=""http://www.google.com/"" rel=""nofollow...",2299499632,HandsomeHanz,HandsomeHanz,Thu Jan 23 15:43:29 +0000 2014,Period.,132,146,London,None
3,722058461408849921,I liked a @YouTube video https://t.co/xKfHoBoR...,Mon Apr 18 13:45:27 +0000 2016,0,"<a href=""http://www.google.com/"" rel=""nofollow...",97059953,OfficialGrizzly,âœ¯ ProGrizzly âœ¯,Tue Dec 15 20:53:54 +0000 2009,22. Entertainer/Entrepreneur #GrizzlyArmy \\ O...,1978,270,"Michigan, USA",Eastern Time (US & Canada)
4,722058346174550016,Lil Dicky - $ave Dat Money feat. Fetty Wap and...,Mon Apr 18 13:44:59 +0000 2016,0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",176175086,jamied_uk,Jay Mee,Sun Aug 08 20:01:05 +0000 2010,Please check out my site \r\nForum http://t.co...,497,1114,ENGLAND,London

In [21]:
table['text']

0               @taigassi_twt Lil Dicky â€“ $ave Dat Money
1      #NowPlaying  Lil Dicky - Fetty Wap - Rich Homi...
2      I liked a @YouTube video https://t.co/XRijPfYy...
3      I liked a @YouTube video https://t.co/xKfHoBoR...
4      Lil Dicky - $ave Dat Money feat. Fetty Wap and...
5      *jangan hedon* â™« $ave Dat Money (feat. Fetty W...
6      RT @12riku011: Elle Teresaã®ä¸–ç•Œã¯ãƒžãƒãƒ¼ã®åŽŸæ›²ðŸ¤‘\n\nList...
7      They were just talking about lil dicky on the ...
8      RT @12riku011: Elle Teresaã®ä¸–ç•Œã¯ãƒžãƒãƒ¼ã®åŽŸæ›²ðŸ¤‘\n\nList...
9      I added a video to a @YouTube playlist https:/...
10     Now Playing on Urban Hitz Radio: Lil' Dicky - ...
11     LIL DICKY F. FETTY WAP AND RICH HOMIE QUAN - $...
12     #SF ---&gt; #HNL ---&gt; #Guam ---&gt; #HNL --...
13     #NowPlaying $ave Dat Money ft Fetty Wap &amp; ...
14     I liked a @YouTube video https://t.co/PTRXXoF3...
15     Lil Dicky - $ave Dat Money feat. Fetty Wap and...
16     $ave Dat Money by Lil Dicky Ft. Fetty Wap &amp...
17     RT @HIPHOPTRlBE: Lil Dicky feat. Fetty Wap &am...
18     I liked a @YouTube video https://t.co/M2Ga1tRu...
19     so if I rap lil dicky and rich homies part of ...
20     #NowPlaying  Lil Dicky - Fetty Wap - Rich Homi...
21     #NowPlaying $ave Dat Money (feat. Fetty Wap &a...
22     I added a video to a @YouTube playlist https:/...
23     I liked a @YouTube video https://t.co/9ZS1TCTu...
24     I liked a @YouTube video https://t.co/vRS1GlWL...
25     I liked a @YouTube video https://t.co/JClhpxbq...
26     I liked a @YouTube video https://t.co/XYVhErlA...
27     Now Playing on Urban Hitz Radio: Lil' Dicky - ...
28     I liked a @YouTube video https://t.co/N9wKtvNY...
29     Lil Dicky - $ave Dat Money feat. Fetty Wap and...
                             ...
345    TOUT DE SUITE  je vous diffuse :\nLil Dicky - ...
346    RT @HIPHOPTRlBE: Lil Dicky feat. Fetty Wap &am...
381    #NowPlaying Lil Dicky - $ave Dat Money Feat Fe...
401    I liked a @YouTube video https://t.co/IfsDezfx...
465    $ave Dat Money - Lil Dicky feat. Fetty Wap and...
479    #NowPlaying Lil Dicky - $ave Dat Money Feat Fe...
482    Gotta Save it ðŸ¤‘ðŸ¤‘ðŸ¤‘ðŸ¤‘\n\n$ave Dat Money (Feat...
515    #NowPlaying Lil Dicky - $ave Dat Money Feat Fe...
531    I liked a @YouTube video https://t.co/yv1SRKmI...
546    #NowPlaying $ave Dat Money (feat. Fetty Wap &a...
551    #NowPlaying Lil Dicky - $ave Dat Money Feat Fe...
570    RT @HIPHOPTRlBE: Lil Dicky feat. Fetty Wap &am...
589    #NowPlaying Lil Dicky - $ave Dat Money Feat Fe...
590    Gostei de um vÃ­deo do @YouTube https://t.co/z4...
602    Lil Dicky feat. Fetty Wap and Rich Homie Quan ...
606    Lil Dicky â€“ $ave Dat Money feat. Fetty Wap and...
607    Lil Dicky â€“ $ave Dat Money feat. Fetty Wap and...
608    Lil Dicky â€“ $ave Dat Money feat. Fetty Wap and...
609    Lil Dicky â€“ $ave Dat Money feat. Fetty Wap and...
610    Lil Dicky â€“ $ave Dat Money feat. Fetty Wap and...
613    Lil Dicky â€“ $ave Dat Money ft. Fetty Wap and R...
618    I liked a @YouTube video https://t.co/2OKpHVsl...
631    RT @Cierra_Mist_: Lil Dicky - $ave Dat Money f...
646    #NowPlaying Lil Dicky - $ave Dat Money Feat Fe...
651    Yeah! Our New Anthem Of Saving Money! Lil Dick...
659    Lil Dicky â€“ $ave Dat Money feat. Fet... https:...
662    â˜… Lil Dicky â€“ $ave Dat Money feat. Fetty Wap a...
663    Lil Dicky â€“ $ave Dat Money feat. Fetty Wap and...
664    Lil Dicky â€“ $ave Dat Money feat. Fetty Wap and...
682    RT @HIPHOPTRlBE: Lil Dicky feat. Fetty Wap &am...
Name: text, dtype: object

In [22]:
table['text'][21]

u'#NowPlaying $ave Dat Money (feat. Fetty Wap &amp; Rich Homie Quan) by Lil Dicky \u266b https://t.co/jV7Fnr3e2F'

In [23]:
table['text'][531]

u'I liked a @YouTube video https://t.co/yv1SRKmI3N Lil Dicky - $ave Dat Money feat. Fetty Wap and Rich Homie Quan (Official Music Video)'