In [2]:
import pandas as pd
import time
import datetime
from datetime import timedelta
from pymongo import MongoClient
from textblob import TextBlob

In [3]:
client = MongoClient('localhost', 27017)
#db = client['test01_database']

In [4]:
def get_dataframe(tab):

    dataSet = pd.DataFrame()    
    dataSet["id"] = [tweet['id'] for tweet in tab.find()]
    dataSet["text"] = [tweet['text'] for tweet in tab.find()]
    dataSet["created_at"] = [tweet['created_at'] for tweet in tab.find()]
    dataSet["favorite_count"] = [tweet['favorite_count'] for tweet in tab.find()]
    #dataSet["retweet_count"] = [tweet['retweeted_status']['retweet_count'] tweet in tab.find()]
    dataSet["source"] = [tweet['source'] for tweet in tab.find()]
    dataSet["user_id"] = [tweet['user']['id'] for tweet in tab.find()]
    dataSet["user_screen_name"] = [tweet['user']['screen_name'] for tweet in tab.find()]
    dataSet["user_name"] = [tweet['user']['name'] for tweet in tab.find()]
    dataSet["user_created_at"] = [tweet['user']['created_at'] for tweet in tab.find()]
    dataSet["user_description"] = [tweet['user']['description'] for tweet in tab.find()]
    dataSet["user_followers_count"] = [tweet['user']['followers_count'] for tweet in tab.find()]
    dataSet["user_friends_count"] = [tweet['user']['friends_count'] for tweet in tab.find()]
    dataSet["user_location"] = [tweet['user']['location'] for tweet in tab.find()]
    dataSet["user_time_zone"] = [tweet['user']['time_zone'] for tweet in tab.find()]

    return dataSet.drop_duplicates()

In [5]:
def get_category_sent(score):
    if score > 0 :
        return "Pos"
    elif score < 0:
        return "Neg"
    else:
        return "Neu"

In [6]:
def find_week(date_time):
    
    day7 = timedelta(days=7)
    date_slected = datetime.date(2016,1, 9)
    all_date =[date_slected]
    for i in range(51):
        date_slected = date_slected + day7
        all_date.append(date_slected)

    week_firstDate = pd.DataFrame()
    week_firstDate['firstData'] = all_date
    week_firstDate['week'] = range(1,53)
    
    for i in range(52):
        if date_time.date() <= week_firstDate['firstData'][i]:
            return week_firstDate['week'][i]

In [7]:
def info_twitter_song(tab):

    df= get_dataframe(tab)
    df['sent_score'] = df['text'].map(lambda x : TextBlob(x).sentiment.polarity)
    df['sent_category'] = df['sent_score'].map(get_category_sent)
    df['pos'] = df['sent_category'].map(lambda x: 1 if x == 'Pos' else 0)
    df['neg'] = df['sent_category'].map(lambda x: 1 if x == 'Neg' else 0)
    df['neu'] = df['sent_category'].map(lambda x: 1 if x == 'Neu' else 0)
    df['created_at_time'] = df['created_at'].map(lambda x : datetime.datetime.strptime(x, "%a %b %d %H:%M:%S +0000 %Y"))
    df['created_at_time_date'] = df['created_at_time'].map(lambda x : x.date())
    df['week_from_one'] = df['created_at_time'].map(find_week)
    df['count'] = 1
    #df['source_short'] = df['source'].map(lambda x : str(x.split('>')[1].split('<')[0]))

    col_list = ['week_from_one']
    agg_dic = {'favorite_count':sum, 'count':sum, 'pos':sum, 'neg':sum, 'neu':sum}
    grouped = df.groupby(col_list).agg(agg_dic)
    grouped = grouped.reset_index()

    grouped['neg_rate']=1.0*grouped['neg']/grouped['count']
    grouped['pos_rate']=1.0*grouped['pos']/grouped['count']
    grouped['neu_rate']=1.0*grouped['neu']/grouped['count']
    grouped['favorite_rate']=1.0*grouped['favorite_count']/grouped['count']

    selected_col = ['week_from_one','count','pos_rate','neg_rate', 'neu_rate','favorite_rate']
    slected = grouped[selected_col]
    
    return slected

In [8]:
def get_billboard(billboard_filename_path):

    df2 = pd.read_csv(billboard_filename_path, sep='|', names=['last_date','rank','song','long_artist'])
    df2['last_date_time'] = df2['last_date'].map(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
    df2['week_from_one'] = df2['last_date_time'].map(find_week)
    df2["artist"] = df2["long_artist"].map(lambda x : x.split('featuring')[0])
    df2["ID"] = df2["song"] + "%" +  df2["artist"]
    
    df= df2.pivot('ID', 'week_from_one', 'rank')
    df["ID"] = df.index
    df["song"] = df["ID"].map(lambda x : x.split('%')[0])
    df["artist"] = df["ID"].map(lambda x : x.split('%')[1])
    df.fillna(101,inplace=True)
    df.index = range(1,len(df)+1)
    df["IDN"] = df.index
    
    return df

In [9]:
def find_date(week_from_one):
    
    day7 = timedelta(days=7)
    day6 = timedelta(days=6)
    date_slected = datetime.date(2016,1,3)
    all_date =[date_slected]
    all_date_last = [date_slected + day6]
    for i in range(51):
        date_slected = date_slected + day7
        all_date.append(date_slected)
        all_date_last.append(date_slected +day6)
        
        

    week_Date = pd.DataFrame()
    week_Date['firstData'] = all_date
    week_Date['lastData'] = all_date_last
    week_Date['week'] = range(1,53)
    index_date = week_from_one - 1
    
    return str(all_date[index_date]) + ' ~ ' + str(all_date_last[index_date])

In [13]:
song_id = 2
db = client['song3_database']
table_name = "test_01_" + str(song_id)
tab = db[table_name]

billboard_filename_path = "../data/billboard.csv"
list_input = get_billboard(billboard_filename_path)
Input = [ ["#"+str(id.split('%')[0]), str(id.split('%')[1])]  for id in list_input["ID"]]

billboard_filename_path = "../data/billboard2.csv"
current_billboard = get_billboard(billboard_filename_path)

Song_history = current_billboard[current_billboard['ID']==list_input['ID'].values[song_id]]

twit = info_twitter_song(tab)

twit['Billboard_rank'] = [int(Song_history[week]) for week in twit['week_from_one']]
twit['date_period'] = twit['week_from_one'].map(find_date)
twit['Billboard_rank_text'] = twit['Billboard_rank'].map(lambda x : x if x <= 100 else "Not on Billboard")

col = ['date_period','week_from_one', 'Billboard_rank_text','count', 'pos_rate', 'neg_rate', 'favorite_rate']
twitter_table = twit[col]

In [14]:
print "Song Title :", list_input['song'].values[song_id]
print "artist :", list_input['artist'].values[song_id]
Song_history

Song Title : Back To Sleep
artist : CHRIS BROWN

week_from_one,9,10,11,12,13,14,15,16,ID,song,artist,IDN
11,50,36,20,25,29,30,37,37,Back To Sleep%CHRIS BROWN,Back To Sleep,CHRIS BROWN,11

In [15]:
twitter_table

,date_period,week_from_one,Billboard_rank_text,count,pos_rate,neg_rate,favorite_rate
0,2016-04-10 ~ 2016-04-16,15,37,2,0.5,0.0,1.5
1,2016-04-17 ~ 2016-04-23,16,37,2,0.0,0.5,0.0