In [18]:
import pandas as pd
import datetime
from datetime import timedelta

In [30]:
def find_week(date_time):
    
    day7 = timedelta(days=7)
    date_slected = datetime.date(2016,1, 3)
    all_date =[date_slected]
    for i in range(51):
        date_slected = date_slected + day7
        all_date.append(date_slected)

    week_firstDate = pd.DataFrame()
    week_firstDate['firstData'] = all_date
    week_firstDate['week'] = range(1,53)
    
    for i in range(52):
        if date_time.date() <= week_firstDate['firstData'][i]:
            return week_firstDate['week'][i]

In [31]:
df2 = pd.read_csv("../data/billboard2.csv", sep='|', names=['last_date','rank','song','long_artist'])
df2['last_date_time'] = df2['last_date'].map(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
df2['week_from_one'] = df2['last_date_time'].map(find_week)
df2["artist"] = df2["long_artist"].map(lambda x : x.split('featuring')[0])
df2["ID"] = df2["song"] + "%" +  df2["artist"]

In [32]:
df2.head()

,last_date,rank,song,long_artist,last_date_time,week_from_one,artist,ID
0,2016-03-05,1,Work,RIHANNA featuring DRAKE,2016-03-05,10,RIHANNA,Work%RIHANNA
1,2016-03-05,2,Love Yourself,JUSTIN BIEBER,2016-03-05,10,JUSTIN BIEBER,Love Yourself%JUSTIN BIEBER
2,2016-03-05,3,Stressed Out,TWENTY ONE PILOTS,2016-03-05,10,TWENTY ONE PILOTS,Stressed Out%TWENTY ONE PILOTS
3,2016-03-05,4,Sorry,JUSTIN BIEBER,2016-03-05,10,JUSTIN BIEBER,Sorry%JUSTIN BIEBER
4,2016-03-05,5,My House,FLO RIDA,2016-03-05,10,FLO RIDA,My House%FLO RIDA

In [33]:
df= df2.pivot('ID', 'week_from_one', 'rank')
df["ID"] = df.index
df["song"] = df["ID"].map(lambda x : x.split('%')[0])
df["artist"] = df["ID"].map(lambda x : x.split('%')[1])
df.fillna(101,inplace=True)
df.index = range(1,len(df)+1)
df["IDN"] = df.index

In [34]:
df.head()

week_from_one,10,11,12,13,14,15,16,17,ID,song,artist,IDN
1,95,95,89,101,101,101,101,101,$ave Dat Money%LIL DICKY,$ave Dat Money,LIL DICKY,1
2,40,29,25,21,18,18,18,18,2 Phones%KEVIN GATES,2 Phones,KEVIN GATES,2
3,34,30,35,39,40,39,40,40,679%FETTY WAP,679,FETTY WAP,3
4,20,12,9,5,3,2,2,2,7 Years%LUKAS GRAHAM,7 Years,LUKAS GRAHAM,4
5,82,76,75,77,76,73,70,70,Acquainted%THE WEEKND,Acquainted,THE WEEKND,5

In [35]:
Input = [ ["#"+str(id.split('%')[0]), str(id.split('%')[1])]  for id in df["ID"]]

In [37]:
len(Input)

146